<div class="ui grid">
  <h2 data-test-competence-profile id="competence-profile-anchor-{{@competence.id}}" class="row competence-profile area-profile-{{@areaCode}}">
    <div class="column competence-code right aligned">
      {{@competence.code}}
    </div>
    <div class="fourteen wide column">
      <div class="competence-title">{{@competence.title}}</div>
    </div>
    <div class="column center competence-info">
      <div class="ui compact icon button basic">
        <EmberTooltip @tooltipClass="custom-tooltip large" @side="right-start">
          {{@competence.description}}
        </EmberTooltip>
        <i class="info icon"></i>
      </div>
    </div>
  </h2>
  {{#each this.filteredTheme as |theme|}}
    <TargetProfile::ThemeProfile @showTubeDetails={{@showTubeDetails}}
                                 @filter={{@filter}}
                                 @isThematicResultMode={{@isThematicResultMode}}
                                 @displayTube={{@displayTube}}
                                 @displayThematicResultTube={{@displayThematicResultTube}}
                                 @clearTube={{@clearTube}}
                                 @setTubeLevel={{@setTubeLevel}}
                                 @theme={{theme}}/>
  {{/each}}
  <div class="row">
    <div class="fifteen wide column"></div>
    {{#if @isThematicResultMode}}
      <div class="column selected-tube-count">{{@competence.selectedThematicResultTubeCount}}
        /{{@competence.selectedProductionTubeCount}}</div>
    {{else}}
      <div class="column selected-tube-count">{{@competence.selectedProductionTubeCount}}
        /{{@competence.productionTubeCount}}</div>
    {{/if}}

  </div>
</div>
