<div class="ui grid">
  <h2 id="competence-profile-anchor-{{@competence.id}}" class="row competence-profile area-profile-{{@areaCode}}">
    <div class="column competence-code right aligned">
      {{@competence.code}}
    </div>
    <div class="fourteen wide column">
      <div class="competence-title">{{@competence.title}}</div>
    </div>
    <div class="column center competence-info">
      <div class="ui compact icon button basic">
        <EmberTooltip @tooltipClass="custom-tooltip large" @side="right-start">
          {{@competence.description}}
        </EmberTooltip>
        <i class="info icon"></i>
      </div>
    </div>
  </h2>
  {{#each @competence.themes as |theme|}}
    <div class="row tubes-profile">
      <div class="three wide column tube-description">
        <p>{{theme.name}}</p>
      </div>
      <div class="thirteen wide column">
        {{#each theme.tubes as |tube|}}
          {{#if @isThematicResultMode}}
            <TargetProfile::TubeProfile class="tube-profile thematicResult"
                                        @tube={{tube}}
                                        @clickAction={{this.clickOnThematicResultTube}}
                                        @selectedSkillLevel={{tube.selectedThematicResultLevel}}
                                        @showTubeDetails={{@showTubeDetails}}/>
          {{else}}
            <TargetProfile::TubeProfile class="tube-profile"
                                        @tube={{tube}}
                                        @clickAction={{this.clickOnTube}}
                                        @selectedSkillLevel={{tube.selectedLevel}}
                                        @showTubeDetails={{@showTubeDetails}}/>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
  <div class="row">
    <div class="fifteen wide column"></div>
    {{#if @isThematicResultMode}}
      <div class="column selected-tube-count">{{@competence.selectedThematicResultTubeCount}}
        /{{@competence.selectedProductionTubeCount}}</div>
    {{else}}
      <div class="column selected-tube-count">{{@competence.selectedProductionTubeCount}}
        /{{@competence.productionTubeCount}}</div>
    {{/if}}

  </div>
</div>
