<div {{on "click" (fn @clickAction @tube)}} ...attributes>
  <div class={{if @selectedSkillLevel "active" ""}}>
    <i class="square icon {{if @selectedSkillLevel "active check" "outline"}}">
    </i>
    {{#if @showTubeDetails}}
      <div class="max-skill-level"><p>{{if @selectedSkillLevel @selectedSkillLevel ""}}</p></div>
    {{/if}}
    <div class="practicalTitle-profile {{if @selectedSkillLevel " active" ""}}">
      <p>{{if @showTubeDetails @tube.name @tube.practicalTitleFr }}</p>
    </div>
  </div>
  <p class="practicalDescription-profile {{if @selectedSkillLevel " active"}}">{{@tube.practicalDescriptionFr}}</p>
</div>
