<div class="list-header">
  <div class="list-row">
    <div class="list-item computedIndex" onclick={{action "sortBy" "computedIndex" "int"}}>Indice</div>
    <div class="list-item instructions" onclick={{action "sortBy" "instructions" "string"}}>Consigne</div>
    <div class="list-item status" onclick={{action "sortBy" "status" "string"}}>Statut</div>
    <div class="list-item workbench" onclick={{action "sortBy" "workbench" "int"}}>Production</div>
  </div>
</div>
<div class="list-body">
  {{#ember-collection
    items=list
    cell-layout=(percentage-columns-layout itemCount columns 40) as |item index|
  }}
  {{#link-to "competence.templates.single.alternatives.single" competenceModel challengeModel item tagName="div" class=(concat "list-row" (if item.workbench " workbench" ""))}}
    <div class="list-item">{{item.computedIndex}}</div>
    <div class="list-item">{{item.instructions}}</div>
    <div class="list-item">{{item.status}}</div>
    <div class="list-item">{{#if item.workbench}}Non{{else}}Oui{{/if}}</div>
  {{/link-to}}
  {{/ember-collection}}
</div>