<form action="" class="ui form">
  <FormMde @title="Consigne" @value={{this.challenge.instructions}} @edition={{this.edition}} @helpContent={{this.helpInstructions}} />
  {{#if (not this.alternative)}}
    <FormSelect @title="Type" @value={{this.challenge.type}} @options={{this.options.types}} @edition={{this.edition}} />
  {{/if}}
  {{#if this.typeIsQROC}}
    <FormSelect @title="Format QROC" @value={{this.challenge.format}} @defaultText="Mots" @options={{this.options.format}} @edition={{this.edition}} />
  {{/if}}
  <FormTextarea @title="Propositions" @value={{this.challenge.suggestion}} @edition={{this.edition}} @helpContent={{this.helpSuggestions}} />
  <FormTextarea @title="Réponses" @value={{this.challenge.answers}} @edition={{this.edition}} @helpContent={{this.helpAnswers}} />
  {{#if this.challenge.isTextBased}}
      <div class={{concat "field" (if this.edition "" " disabled")}}>
          <label>Tolérance</label>
          <div class="three fields">
              <div class="field">
                <CustomCheckbox @label="T1 (espaces/casse/accents)" @checked={{this.challenge.t1}} @disabled={{not this.edition}} />
              </div>
              <div class="field">
                <CustomCheckbox @label="T2 (ponctuation)" @checked={{this.challenge.t2}} @disabled={{not this.edition}} />
              </div>
              <div class="field">
                <CustomCheckbox @label="T3 (distance d'édition)" @checked={{this.challenge.t3}} @disabled={{not this.edition}} />
              </div>
          </div>
      </div>
  {{/if}}
  {{#if this.challenge.supportsScoring}}
    <FormTextarea @value={{this.challenge.scoring}} @title="Scoring" @edition={{this.edition}} @helpContent={{this.helpScoring}} />
  {{/if}}
  <FormIllustration @title="Illustration" @value={{this.challenge.illustration}} @edition={{this.edition}} @display={{this.showIllustration}} />
  {{#if this.challenge.illustration}}
    <FormTextarea @value={{this.challenge.alternativeText}} @title="Texte alternatif" @edition={{this.edition}} />
  {{/if}}
  <FormFiles @title="Pièces jointes" @value={{this.challenge.attachments}} @baseName={{this.challenge.attachmentBaseName}} @edition={{this.edition}} />
  <FormInput @title="Embed" @value={{this.challenge.embedURL}} @edition={{this.edition}} @label="URL" />
  <FormInput @value={{this.challenge.embedHeight}} @edition={{this.edition}} @label="Hauteur" />
  <FormInput @value={{this.challenge.embedTitle}} @edition={{this.edition}} @label="Titre" />
  {{#if (not this.alternative)}}
    <FormSelect @title="Type pédagogie" @value={{this.challenge.pedagogy}} @options={{this.options.pedagogy}} @edition={{this.edition}} />
  {{/if}}
  {{#if this.authors.isFulfilled}}
    <FormSelect @title="Auteur" @value={{this.challenge.author}} @options={{this.authors}} @edition={{this.edition}} @multiple={{true}} />
  {{/if}}
  {{#if (not this.alternative)}}
    <FormSelect @title="Déclinable" @value={{this.challenge.declinable}} @options={{this.options.declinable}} @edition={{this.edition}} />
  {{/if}}
    <div class={{concat "field" (if this.edition "" " disabled")}}>
        <CustomCheckbox @label="Timer" @checked={{this.challenge.timerOn}} @disabled={{not this.edition}} />
      {{#if this.challenge.timer}}
        <FormInput @value={{this.challenge.timer}} @edition={{this.edition}} />
      {{/if}}
    </div>
  {{#if this.challenge.isSuggested}}
      <div class={{concat "field" (if this.edition "" " disabled")}}>
          <label>Qualité</label>
          <div class="four fields">
              <div class="field">
                <FormSelect @title="Non voyant" @value={{this.challenge.accessibility1}} @edition={{this.edition}} @multiple={{false}} @options={{this.options.accessibility1}} />
              </div>
              <div class="field">
                <FormSelect @title="Daltonien" @value={{this.challenge.accessibility2}} @edition={{this.edition}} @multiple={{false}} @options={{this.options.accessibility2}} />
              </div>
              <div class="field">
                <FormSelect @title="Spoil" @value={{this.challenge.spoil}} @edition={{this.edition}} @multiple={{false}} @options={{this.options.spoil}} />
              </div>
              <div class="field">
                <FormSelect @title="Responsive" @value={{this.challenge.responsive}} @edition={{this.edition}} @multiple={{false}} @options={{this.options.responsive}} />
              </div>
          </div>
      </div>
  {{/if}}
  <div class={{concat "field" (if this.edition "" " disabled")}}>
      <label>Internationalisation</label>
      <div class="two fields">
          <div class="field">
            <FormSelect @title="Langue" @value={{this.challenge.language}} @edition={{this.edition}} @multiple={{false}} @options={{this.options.language}} />
          </div>
          <div class="field">
            <FormSelect @title="Géographie" @value={{this.challenge.area}} @edition={{this.edition}} @multiple={{false}} @options={{this.options.area}} />
          </div>
      </div>
  </div>
  {{#if (not this.edition)}}
    <FormInput @value={{this.challenge.id}} @title="Record id" @edition={{this.edition}} />
  {{/if}}
</form>