<form action="" class="ui form">
  <FormMde @title="Consigne" @value={{@challenge.instructions}} @edition={{@edition}} @helpContent={{this.helpInstructions}} />
  {{#if (not this.alternative)}}
    <FormSelect @title="Type" @value={{@challenge.type}} @options={{this.options.types}} @edition={{@edition}} />
  {{/if}}
  {{#if this.typeIsQROC}}
    <FormSelect @title="Format QROC" @value={{@challenge.format}} @defaultText="Mots" @options={{this.options.format}} @edition={{@edition}} />
  {{/if}}
  <FormTextarea @title="Propositions" @value={{@challenge.suggestion}} @edition={{@edition}} @helpContent={{this.helpSuggestions}} />
  <FormTextarea @title="Réponses" @value={{@challenge.answers}} @edition={{@edition}} @helpContent={{this.helpAnswers}} />
  {{#if @challenge.isTextBased}}
      <div class={{concat "field" (if @edition "" " disabled")}}>
          <label>Tolérance</label>
          <div class="three fields">
              <div class="field">
                <CustomCheckbox @label="T1 (espaces/casse/accents)" @checked={{@challenge.t1}} @disabled={{not @edition}} />
              </div>
              <div class="field">
                <CustomCheckbox @label="T2 (ponctuation)" @checked={{@challenge.t2}} @disabled={{not @edition}} />
              </div>
              <div class="field">
                <CustomCheckbox @label="T3 (distance d'édition)" @checked={{@challenge.t3}} @disabled={{not @edition}} />
              </div>
          </div>
      </div>
  {{/if}}
  {{#if @challenge.supportsScoring}}
    <FormTextarea @value={{@challenge.scoring}} @title="Scoring" @edition={{@edition}} @helpContent={{this.helpScoring}} />
  {{/if}}
  <FormIllustration @title="Illustration" @value={{@challenge.illustration}} @edition={{@edition}} @display={{this.showIllustration}} />
  {{#if @challenge.illustration}}
    <FormTextarea @value={{@challenge.alternativeText}} @title="Texte alternatif" @edition={{@edition}} />
  {{/if}}
  <FormFiles @title="Pièces jointes" @value={{@challenge.attachments}} @baseName={{@challenge.attachmentBaseName}} @edition={{@edition}} />
  <FormInput @title="Embed" @value={{@challenge.embedURL}} @edition={{@edition}} @label="URL" />
  <FormInput @value={{@challenge.embedHeight}} @edition={{@edition}} @label="Hauteur" />
  <FormInput @value={{@challenge.embedTitle}} @edition={{@edition}} @label="Titre" />
  {{#if (not this.alternative)}}
    <FormSelect @title="Type pédagogie" @value={{@challenge.pedagogy}} @options={{this.options.pedagogy}} @edition={{@edition}} />
  {{/if}}
  {{#if this.authors.isFulfilled}}
    <FormSelect @title="Auteur" @value={{@challenge.author}} @options={{this.authors}} @edition={{@edition}} @multiple={{true}} />
  {{/if}}
  {{#if (not this.alternative)}}
    <FormSelect @title="Déclinable" @value={{@challenge.declinable}} @options={{this.options.declinable}} @edition={{@edition}} />
  {{/if}}
    <div class={{concat "field" (if @edition "" " disabled")}}>
        <CustomCheckbox @label="Timer" @checked={{@challenge.timerOn}} @disabled={{not @edition}} />
      {{#if @challenge.timer}}
        <FormInput @value={{@challenge.timer}} @edition={{@edition}} />
      {{/if}}
    </div>
  {{#if @challenge.isSuggested}}
      <div class={{concat "field" (if @edition "" " disabled")}}>
          <label>Qualité</label>
          <div class="four fields">
              <div class="field">
                <FormSelect @title="Non voyant" @value={{@challenge.accessibility1}} @edition={{@edition}} @multiple={{false}} @options={{this.options.accessibility1}} />
              </div>
              <div class="field">
                <FormSelect @title="Daltonien" @value={{@challenge.accessibility2}} @edition={{@edition}} @multiple={{false}} @options={{this.options.accessibility2}} />
              </div>
              <div class="field">
                <FormSelect @title="Spoil" @value={{@challenge.spoil}} @edition={{@edition}} @multiple={{false}} @options={{this.options.spoil}} />
              </div>
              <div class="field">
                <FormSelect @title="Responsive" @value={{@challenge.responsive}} @edition={{@edition}} @multiple={{false}} @options={{this.options.responsive}} />
              </div>
          </div>
      </div>
  {{/if}}
  <div class={{concat "field" (if @edition "" " disabled")}}>
      <label>Internationalisation</label>
      <div class="two fields">
          <div class="field">
            <FormSelect @title="Langue" @value={{@challenge.language}} @edition={{@edition}} @multiple={{false}} @options={{this.options.language}} />
          </div>
          <div class="field">
            <FormSelect @title="Géographie" @value={{@challenge.area}} @edition={{@edition}} @multiple={{false}} @options={{this.options.area}} />
          </div>
      </div>
  </div>
  {{#if (not @edition)}}
    <FormInput @value={{@challenge.pixId}} @title="Id" @edition={{@edition}} />
  {{/if}}
</form>