{{#ui-modal name="profile" class="config-form" context=".application" onApprove=(action "saveConfig") onHidden=(action "closed")}}
  <div class="header">
    Configuration
  </div>
  <div class="content">
    <div class="description">
      <form class="ui form">
        <div class="field">
          <label>Clé airtable</label>
          <div class="ui input">
            {{input value=airtableKey}}
          </div>
        </div>
        <div class="field">
          <label>Clé config</label>
          <div class="ui input">
            {{input value=configKey}}
          </div>
        </div>
        <div class="field">
          <label>Auteur</label>
            {{#ui-dropdown class="selection" selected=author onChange=(action (mut author)) as |execute mapper|}}
              <div class="default text">Sélectionnez votre trigramme</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each authors as |option|}}
                  <div data-value={{map-value mapper option.name}} class="item">
                    {{option.name}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
        </div>
        <h4 class="ui dividing header">Paramètres optionnels</h4>
        {{#ui-accordion class="field"}}
          <div class="title">
            <i class="icon dropdown"></i>
            Compte Pix (mise à jour du cache)
          </div>
          <div class="content">
            <div class="field">
              <label>Adresse e-mail</label>
              <div class="ui input">
                {{input value=pixUser}}
              </div>
            </div>
            <div class="field">
              <label>Mot de passe</label>
              <div class="ui input">
                {{input value=pixPassword type="password"}}
              </div>
            </div>
          </div>
          {{/ui-accordion}}
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui deny button">
      Annuler
    </div>
    <div class="ui positive right button">
      Enregistrer
    </div>
  </div>
{{/ui-modal}}