<div class={{concat "field" (if edition "" " disabled")}}>
  <label>{{title}}</label>
{{#if multiple}}
  {{#power-select-multiple placeholder=(if defaultText defaultText "") options=options disabled=(if edition false true) selected=value onchange=(action (mut value)) as |option|}}
    {{option}}
  {{/power-select-multiple}}
{{else}}
  {{#power-select placeholder=(if defaultText defaultText "") options=options disabled=(if edition false true) selected=value onchange=(action (mut value)) as |option|}}
    {{option}}
  {{/power-select}}
{{/if}}
</div>