<div class={{concat "field" (if edition "" " disabled")}}>
    <label>
        {{#if edition}}
            <a onClick={{action "toggleMaximized"}} class={{concat "ui compact icon right floated button" (if maximized " primary" " basic")}}><i class={{concat (if maximized "compress " "expand ")  "icon"}}></i></a>
            {{#if helpContent}}
            <div class="ui compact icon right floated button basic">
              <i class="help icon">
                {{#ember-tooltip side="left-start" tooltipClass="custom-tooltip"}}
                  {{safeHelpContent}}
                {{/ember-tooltip}}
              </i>
            </div>
            {{/if}}
        {{/if}}
        {{title}}
    </label>
    {{textarea value=value rows="4" readonly=(not edition) class="attached"}}
</div>