<div class="field">
{{#if (or this.value.length this.edition)}}
  <label>{{this.title}}</label>
{{/if}}
{{#if this.value.length}}
  {{#each this.value as |file key|}}
    <a href={{file.url}} download={{file.filename}} target="_blank" rel="noopener noreferrer"><i class="file icon"></i> {{file.filename}}</a>
    {{#if this.edition}}
      <a {{on "click" (fn this.remove key)}} class="file-remove" href="#"><i class="remove icon"></i></a>
    {{/if}}
  {{/each}}
{{/if}}
{{#if this.edition}}
  <FileUpload @name="files" @onfileadd={{this.add}}>
    <a class="ui button" href="#">
      Ajouter un fichier...
    </a>
  </FileUpload>
  {{#if this.value.length}}
    <div class="ui input">
        <div class="label-input">Nom :</div>
        <Input @value={{this.baseName}} />
    </div>
  {{/if}}
{{/if}}
</div>
