<div class="field">
  <label>
    {{#if edition}}
      {{#if helpContent}}
        <div class="ui compact icon right floated button basic">
          <i class="help icon">
            {{#ember-tooltip side="left-start" tooltipClass="custom-tooltip"}}
              {{safeHelpContent}}
            {{/ember-tooltip}}
          </i>
        </div>
      {{/if}}
    {{/if}}
    {{title}}
  </label>
  {{#if edition}}
    {{simple-mde value=value change=(action (mut value)) options=simpleMDEOptions}}
  {{else}}
    <div class="mde-preview">
      {{simple-mde-preview value}}
    </div>
  {{/if}}
</div>