<div class="field">
  <label>
    {{#if this.edition}}
      {{#if this.helpContent}}
        <div class="ui compact icon right floated button basic">
          <i class="help icon">
            <EmberTooltip @side="left-start" @tooltipClass="custom-tooltip">
              {{this.safeHelpContent}}
            </EmberTooltip>
          </i>
        </div>
      {{/if}}
    {{/if}}
    {{this.title}}
  </label>
  {{#if this.edition}}
    <SimpleMde @value={{this.value}} @change={{mut this.value}} @options={{this.simpleMDEOptions}} />
  {{else}}
    <div class="mde-preview">
      {{simple-mde-preview this.value}}
    </div>
  {{/if}}
</div>