<div class="field">
  {{#if (or this.value.length this.edition)}}
    <label>{{this.title}}</label>
  {{/if}}
  {{#if this.value.length}}
    {{#if this.value.0.url}}
      <img src={{this.value.0.url}} alt="" class="clickable" {{on "click" this.display}} role="presentation">
    {{else}}
      {{this.value.0.file.name}} ({{this.value.0.file.size}} octets)
    {{/if}}
    {{#if this.edition}}
      <a {{on "click" this.remove}} class="file-remove" href="#"><i class="remove icon"></i></a>
    {{/if}}
  {{/if}}
  {{#if this.edition}}
    <FileUpload @name="illustration" @accept="image/*" @onfileadd={{this.add}}>
      <a class="ui button" href="#">
        Choisir une image...
      </a>
    </FileUpload>
  {{/if}}
</div>