<div class={{concat "field" (if this.edition "" " disabled")}}>
  <label>{{@title}}</label>
{{#if this.multiple}}
  <PowerSelectMultiple @placeholder={{if this.defaultText this.defaultText ""}} @options={{this.options}} @searchEnabled={{false}} @disabled={{if this.edition false true}} @selected={{this.value}} @onchange={{mut this.value}} as |option|>
    {{option}}
  </PowerSelectMultiple>
{{else}}
  <PowerSelect @placeholder={{if @defaultText @defaultText ""}} @searchEnabled={{false}} @options={{@options}} @disabled={{if @edition false true}} @selected={{this.value}} @onchange={{mut this.value}} as |option|>
    {{option}}
  </PowerSelect>
{{/if}}
</div>