<div class="list-header">
    <div class="list-row">
        <div class="list-log competenceName">Compétence</div>
        <div class="list-log descriptionText">Description</div>
        <div class="list-log authorText">Auteur</div>
        <div class="list-log">Date</div>
        <div class="list-log">Lien</div>
    </div>
</div>
<div class="list-body body-log">
  {{#ember-collection
          class="ember-collection"
          items=loadedLog
          scroll-left=scrollLeft scroll-top=scrollMemory scroll-change=(action "scrollChange")
          cell-layout=(percentage-columns-layout itemCount columns 40) as |item|
  }}
    {{#if item.button}}
        <div {{action "fetch"}} class="ui yellow bottom attached button" tabindex="0">Voir plus</div>
    {{else}}
        <div class="list-row">
            <div class="list-log">{{item.competence}}</div>
            <div class="list-log">
              {{#ui-popup html=(concat "<p>" item.text "</p>")}}
                {{item.text}}
              {{/ui-popup}}
            </div>
            <div class="list-log">{{item.author}}</div>
            <div class="list-log">{{item.date}}</div>
            <div {{action "linkToCompetence" item.competence item.skills}} class="list-log"><i class="eye icon"></i>
            </div>
        </div>
    {{/if}}

  {{/ember-collection}}
</div>
