<div class="ui container">
  <div class="inverted menu left vertical main-sidebar wide ui sidebar uncover visible {{if this.config.lite "lite" ""}}">
    <div class="header">Pix Editor</div>
    <PowerSelect @search={{this.getSearchResults}} @placeholder="Acquix ou recordId" @onchange={{this.linkTo}} @renderInPlace={{true}} @triggerComponent="power-select-custom-trigger" @class="sidebar-search" @tagName="div" @searchMessage="" @searchPlaceholder="Rechercher..." @loadingMessage="Recherche en cours..." @noMatchesMessage="Pas de résultat" as |result|>
      {{result.title}}
    </PowerSelect>
    <AccordionList as |accordion|>
      <div class="ui accordion inverted">
        {{#each this.areas as |area|}}
          <accordion.item as |accordionItem|>
            <accordionItem.toggle @class="title">
              <i class="dropdown icon"></i>
              {{area.name}}
            </accordionItem.toggle>
            <accordionItem.panel>
              <div class="content">
                {{#each area.sortedCompetences as |competence|}}
                  <LinkTo @route="competence" @model={{competence.id}} class="item" @invokeAction={{@burger.state.actions.close}}>{{competence.name}}</LinkTo>
                {{/each}}
              </div>
            </accordionItem.panel>
          </accordion.item>
        {{/each}}
      </div>
    </AccordionList>
    <div class="secondary-links">
      <LinkTo @route="target-profile" @invokeAction={{@burger.state.actions.close}}>
        <i class="crosshairs icon"></i> Générateur de profil cible</LinkTo>
      <p {{on "click" this.shareAreas}}><i class="share square icon"></i> Exporter les sujets</p>
    </div>
    <div class="ui labelled icon menu">
      <a class="item" href="#" onclick={{this.openConfiguration}}><i class="wrench icon"></i>Configuration</a>
      <div class="right item">
        {{#if this.author}}
          {{this.author}} -
        {{/if}}
        Version {{this.version}}</div>
    </div>
  </div>
</div>
