<div class="list-header">
  <div class="list-row">
    <div class="list-item date" onclick={{action "sortBy" "date" "int"}}>Date</div>
    {{#if displayAuthor}}
      <div class="list-item author" onclick={{action "sortBy" "author" "string"}}>Auteur</div>
    {{/if}}
    <div class="list-item text" onclick={{action "sortBy" "text" "string"}}>Texte</div>
    {{#if displayStatus}}
      <div class="list-item status" onclick={{action "sortBy" "status" "string"}}>Statut</div>
    {{/if}}
  </div>
</div>
<div class="list-body">
  {{#if itemCount}}
    {{#ember-collection
      items=sortedList
      cell-layout=(percentage-columns-layout itemCount columns 40) as |item|
    }}
    <div class="list-row" onclick={{action show item}}>
      <div class="list-item">{{item.date}}</div>
      {{#if displayAuthor}}
        <div class="list-item">{{item.author}}</div>
      {{/if}}
      <div class="list-item">{{item.text}}</div>
      {{#if displayStatus}}
        <div class="list-item">{{item.status}}</div>
      {{/if}}
    </div>
    {{/ember-collection}}
  {{/if}}
</div>