<div class="ui content">
  <form class="ui form">
    <div class="field">
      <Fields::Select @title="Statut" @value={{this.entry.status}} @options={{this.options.status}} @edition={{this.edition}} />
    </div>
    <div class="field {{if this.edition "" "disabled"}}">
      <label>Texte</label>
      <div class="ui input">
        <Textarea @value={{this.entry.text}} @rows="4" @readonly={{not this.edition}} />      </div>
    </div>
  </form>
</div>
<div class="actions">
  <button class="ui right button" {{on "click" this.close}} type="button">
    Retour
  </button>
  {{#if this.edition}}
  <button class="ui green right button" {{on "click" this.save}} type="button">
    Enregistrer
  </button>
  {{else}}
    {{#if this.mayEdit}}
    <button class="ui green right button" {{on "click" this.edit}} type="button">
      Modifier
    </button>
    {{/if}}
  {{/if}}
</div>
