{{#if this.display}}
  <ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal" @onClose={{this.closeModal}}>
    <div class="ui standard modal visible active">
      <i class="close icon" {{on "click" this.closeModal}}></i>
      <div class="header">
        {{#if this.title}}
          {{this.title}}
        {{else}}
          Emplacement de {{this.name}}
        {{/if}}
      </div>
      <div class="content">
        <form action="" class="ui form">
          {{#if this.competencesNames}}
            <FormItems::Select @title="Compétence" @value={{this.competenceName}} @options={{this.competencesNames}} @edition={{true}} />
          {{/if}}
          {{#if this.selectTubeLevel}}
            {{#if (and this.tube.isFulfilled this.tubesNames.isFulfilled)}}
              <FormItems::Select @title="Tube" @value={{this.tubeName}} @options={{this.tubesNames}} @edition={{true}} />
              {{#if this.levels.isFulfilled }}
                  <FormItems::Select @title="Niveau" @value={{this.selectedLevel}} @options={{this.levels}} @edition={{true}} @multiple={{this.multipleLevel}} />
              {{/if}}
            {{/if}}

          {{/if}}
        </form>
      </div>
      <div class="actions">
        <div class="ui deny button" {{on "click" this.closeModal}}>
          Annuler
        </div>
        <div class="ui green button" {{on "click" this.setLocation}}>
          <i class="checkmark icon"></i>
          Déplacer
        </div>
      </div>
    </div>
  </ModalDialog>
{{/if}}