{{#if display}}
  {{#modal-dialog
          targetAttachment="center"
          overlayClassNames="custom-overlay-modal"
          onClose=(action "closeModal")
  }}
    <div class="ui modal visible active">
      <i class="close icon" {{action "closeModal"}}></i>
      <div class="header">
        {{title}}
      </div>
      <div class="content">
        <form class="ui form">
          <div class="field">
            <label>{{label}}</label>
            {{form-input value=value edition=true}}
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui deny button" {{action "closeModal"}}>
          Annuler
        </div>
        <div class="ui green button" {{action "validate"}}>
          <i class="checkmark icon"></i>
          Valider
        </div>
      </div>
    </div>
  {{/modal-dialog}}
{{/if}}
