{{#if display}}
  {{#modal-dialog
          targetAttachment="center"
          containerClassNames="popin-template-log"
          overlayClassNames="custom-overlay-modal"
          onClose=(action "closeModal")
  }}
    <div class="ui modal visible active">
      <i class="close icon" {{action "closeModal"}}></i>
      <div class="header">
        Journal de {{challenge.skillNames}}
      </div>

      <div class="ui content segment basic custom-tab {{if loading "loading" ""}} {{if list "" "hidden"}}">
        {{#aria-tabs as |at|}}
          <div class="ui top attached tabular menu">
            {{#at.tabList as |tl|}}
              {{#tl.tab}}Mes notes{{/tl.tab}}
              {{#tl.tab}}Toutes les notes {{/tl.tab}}
              {{#tl.tab}}Changelog{{/tl.tab}}
            {{/at.tabList}}
          </div>
          {{#at.tabPanel}}
            <div class="ui bottom attached tab segment active" data-tab="own">
              {{note-list list=ownNotes itemCount=ownCount listType="own-note-list" displayAuthor=false
                          show=(action "showOwnNote")}}
              <div class="ui text menu note-menu">
                <a class="item" onclick={{action "addNote"}}><i class="plus icon"></i>Nouvelle note</a>
              </div>
            </div>
          {{/at.tabPanel}}
          {{#at.tabPanel}}
            <div class="ui bottom attached tab segment active" data-tab="notes">
              {{note-list list=notes itemCount=notesCount listType="note-list" show=(action "showNote")}}
            </div>
          {{/at.tabPanel}}
          {{#at.tabPanel}}
            <div class="ui bottom attached tab segment active" data-tab="notes">
              {{note-list list=changelogEntries itemCount=changelogEntriesCount listType="changelog-entry-list"
                          displayStatus=false show=(action "showChangelogEntry")}}
            </div>
          {{/at.tabPanel}}
        {{/aria-tabs}}
      </div>




      {{#unless list}}
        {{note-form entry=logEntry edition=logEntryEdition close=(action "closeLogForm") update=(action "update")
                    mayEdit=mayEditEntry edit=(action "editEntry")}}
      {{/unless}}
    </div>
  {{/modal-dialog}}
{{/if}}