<form action="" class="ui form">
  {{form-textarea title="Description" value=skill.description edition=edition}}
  {{form-select title="Statut de la description" value=skill.descriptionStatus options=options.descriptionStatus edition=edition}}
  {{form-textarea title="Indice" value=skill.clue edition=edition}}
  {{form-select title="Statut de l'indice" value=skill.clueStatus options=options.clueStatus edition=edition}}
  {{form-tutorials title="Pour réussir la prochaine fois" skill=skill tutorials=skill.tutoSolution searchClass="solution" edition=edition openCreateTutorialModal=(action "openCreateTutorialModal")}}
  {{form-tutorials title="Pour en savoir plus" skill=skill tutorials=skill.tutoMore edition=edition searchClass="more" openCreateTutorialModal=(action "openCreateTutorialModal")}}
  {{tutorial-form item=searchTitle tutorials=tutorials application=application class="popin-create-tuto"}}
</form>
