<form action="" class="ui form">
  <Fields::Textarea @title="Description" @value={{@skill.description}} @edition={{@edition}} />
  <Fields::Select @title="Statut de la description" @value={{@skill.descriptionStatus}} @options={{this.options.descriptionStatus}} @edition={{@edition}} @setValue={{fn (mut @skill.descriptionStatus)}}/>
  <Fields::Textarea @title="Indice" @value={{@skill.clue}} @edition={{@edition}} />
  <Fields::Select @title="Statut de l'indice" @value={{@skill.clueStatus}} @options={{this.options.clueStatus}} @edition={{@edition}} @setValue={{fn (mut @skill.clueStatus)}}/>
  {{#if @skill.productionTemplate}}
    <Fields::Quality @title="Qualité" @challenge={{@skill.productionTemplate}} @edition={{@edition}} />
  {{/if}}
  <Fields::Tutorials @title="Pour réussir la prochaine fois" @skill={{@skill}} @tutorials={{@skill.tutoSolution}} @searchClass="solution" @edition={{@edition}} @openCreateTutorialModal={{this.openCreateTutorialModal}} />
  <Fields::Tutorials @title="Pour en savoir plus" @skill={{@skill}} @tutorials={{@skill.tutoMore}} @edition={{@edition}} @searchClass="more" @openCreateTutorialModal={{this.openCreateTutorialModal}} />
  <TutorialForm @defaultTitle={{this.searchTitle}} @tutorials={{this.tutorials}} @application={{@application}} @display={{this.displayTutorialForm}} />
  <Fields::Select @title="Internationalisation" @value={{@skill.i18n}} @options={{this.options.i18n}} @edition={{@edition}} @setValue={{fn (mut @skill.i18n)}}/>
  {{#if (not @edition)}}
    <Fields::Input @value={{@skill.pixId}} @title="Id" @edition={{false}} />
  {{/if}}
</form>
