<form action="" class="ui form">
  <FormTextarea @title="Description" @value={{@skill.description}} @edition={{@edition}} />
  <FormSelect @title="Statut de la description" @value={{@skill.descriptionStatus}} @options={{this.options.descriptionStatus}} @edition={{@edition}} />
  <FormTextarea @title="Indice" @value={{@skill.clue}} @edition={{@edition}} />
  <FormSelect @title="Statut de l'indice" @value={{@skill.clueStatus}} @options={{this.options.clueStatus}} @edition={{@edition}} />
  {{#if @skill.productionTemplate}}
    <FormQuality @title="Qualité" @challenge={{@skill.productionTemplate}} @edition={{@edition}} />
  {{/if}}
  <FormTutorials @title="Pour réussir la prochaine fois" @skill={{@skill}} @tutorials={{@skill.tutoSolution}} @searchClass="solution" @edition={{@edition}} @openCreateTutorialModal={{this.openCreateTutorialModal}} />
  <FormTutorials @title="Pour en savoir plus" @skill={{@skill}} @tutorials={{@skill.tutoMore}} @edition={{@edition}} @searchClass="more" @openCreateTutorialModal={{this.openCreateTutorialModal}} />
  <TutorialForm @defaultTitle={{this.searchTitle}} @tutorials={{this.tutorials}} @application={{@application}} @display={{this.displayTutorialForm}} />
  <FormSelect @title="Internationalisation" @value={{@skill.i18n}} @options={{this.options.i18n}} @edition={{@edition}} />
</form>
