<form action="" class="ui form">
  {{#if this.edition}}
    <FormInput @value={{this.tube.name}} @edition={{this.edition}} @label="Nom" />
  {{/if}}
  <FormInput @value={{this.tube.title}} @edition={{this.edition}} @label="Titre" />
  <FormTextarea @title="Description" @value={{this.tube.description}} @edition={{this.edition}} />
    <div class="ui raised segment">
      <FormInput @value={{this.tube.practicalTitle}} @edition={{this.edition}} @label="Titre pratique" />
      <FormTextarea @title="Description pratique" @value={{this.tube.practicalDescription}} @edition={{this.edition}} />
    </div>
</form>
