<form action="" class="ui form">
  {{#if @edition}}
    <FormInput @value={{@tube.name}} @edition={{@edition}} @label="Nom" />
  {{/if}}
  <FormInput @value={{@tube.title}} @edition={{@edition}} @label="Titre" />
  <FormTextarea @title="Description" @value={{@tube.description}} @edition={{@edition}} />
    <div class="ui raised segment">
      <FormInput @value={{@tube.practicalTitle}} @edition={{@edition}} @label="Titre pratique" />
      <FormTextarea @title="Description pratique" @value={{@tube.practicalDescription}} @edition={{@edition}} />
    </div>
  {{#if (not @edition)}}
    <FormInput @value={{@tube.pixId}} @title="Id" @edition={{false}} />
  {{/if}}
</form>
