{{#if this.display}}
  <ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal" @onClose={{this.closeModal}}>
    <div class="ui modal visible active">
      <i class="close icon" {{on "click" this.closeModal}}></i>
      <div class="header">
        Créer un tutoriel
      </div>
      <form class="ui form">
        <div class="ui stacked segment">
          <div class="field">
            <label>Titre</label>
            <Input @type="text" @value={{this.title}} placeholder="Titre" />
          </div>
          <div class="three fields">
            <div class="field">
              <label>Lien</label>
              <Input @type="text" @value={{this.tutorial.link}} placeholder="Lien" />
            </div>
            <div class="field">
              <label>Source</label>
              <Input @type="text" @value={{this.tutorial.source}} placeholder="Source" />
            </div>
            <FormItems::Select @title="License" @defaultText="Licence" @value={{this.tutorial.license}} @options={{this.options.license}} @edition={{true}} />
          </div>
          <div class="three fields">
            <FormItems::Select @title="Format" @defaultText="Format" @value={{this.tutorial.format}} @options={{this.options.format}} @edition={{true}} />
            <div class="field">
              <label>Durée (hh:mm:ss)</label>
              <Input @type="text" @value={{this.tutorial.duration}} placeholder="Durée (hh:mm:ss)" />
            </div>
            <FormItems::Select @title="Niveau" @defaultText="Niveau" @value={{this.tutorial.level}} @options={{this.options.level}} @edition={{true}} />
          </div>
          <div class="three fields">
            <div class="field">
              <label>Rechercher tags</label>
              <PowerSelect @search={{this.getSearchTagsResults}} @placeholder="Nom" @onChange={{this.selectTag}} @dropdownClass="search-result tutorial-search" @triggerComponent="power-select-custom-trigger" @searchMessage="" @searchPlaceholder="Rechercher..." @loadingMessage="Recherche en cours..." as |result|>
                <div class="search-title">
                  {{#if (eq result.id "create")}}
                    {{result.title}} <i class="add icon"></i>
                  {{else}}
                    {{result.title}}
                  {{/if}}
                </div>
                <div class="search-description">
                  {{#if result.description}}
                    {{result.description}}
                  {{/if}}
                </div>
              </PowerSelect>
            </div>
            <div class="twelve wide field">
              {{#if this.hasSelectedTag}}
                <label>Tags</label>
                {{#each this.selectedTags as |tag|}}
                  <div class="ui mini labeled button btn-selected-tag" tabindex="0">
                    <div {{on "click" (fn this.unselectTag tag.id)}} class="ui icon button">
                      <i class="close icon"></i>
                    </div>
                    <p class="ui basic label">
                      {{tag.title}}
                    </p>
                  </div>
                {{/each}}
              {{/if}}
            </div>
          </div>
          <div class="fields">
            <div class="field">
              <label>Coup de coeur</label>
              <div {{on "click" this.toCrush}} class="ui circular icon button crush">
                <i class="icon red heart {{if this.isFavorite "" "outline" }}"></i>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="actions">
        <div {{on "click" (fn this.saveTutorial this.tutorials)}} class="ui positive right labeled icon button">
          Enregistrer
          <i class="save icon"></i>
        </div>
      </div>
    </div>
  </ModalDialog>
{{/if}}