<div class="tube-header">
  <div class="ui menu">
    <div class="ui left menu">
      {{#if this.mayMove}}
        <a class="ui icon item" onclick={{action "selectCompetence"}}><i class="icon random"></i></a>
      {{/if}}
    </div>
    <div class="item header {{if this.creation "creation"}}">
      {{#if this.creation}}
        Nouveau tube
      {{else}}
        {{this.tube.name}}
      {{/if}}
    </div>
    <div class="ui right menu">
      {{#if this.maximized}}
        <a class="ui icon item" onclick={{action "minimize"}}><i class="window minimize icon"></i></a>
      {{else}}
        <a class="ui icon item" onclick={{action "maximize"}}><i class="window maximize outline icon"></i></a>
      {{/if}}
      <a class="ui icon item" onclick={{action "close"}}><i class="icon window close"></i></a>
    </div>
  </div>
</div>
<div class="tube-details">
  <div class="tube-data">
    <TubeForm @tube={{this.tube}} @edition={{this.edition}} />
  </div>
  <div class="ui vertical compact labeled icon menu tube-menu">
    {{#if this.edition}}
      <a class="item important-action" onclick={{action "save"}}>
        <i class="save icon"></i>
        Enregistrer
      </a>
      <a class="item" onclick={{action "cancelEdit"}}>
        <i class="ban icon"></i>
        Annuler
      </a>
    {{else}}
      {{#if this.mayEdit}}
        <a class="item" onclick={{action "edit"}}>
          <i class="edit icon"></i>
          Modifier
        </a>
      {{/if}}
      {{#if this.mayAccessAirtable}}
        <a class="item" onclick={{action "openAirtable"}}>
          <i class="table icon"></i>
          Airtable
        </a>
      {{/if}}
    {{/if}}
  </div>
</div>
<PopinSelectLocation @class="tube-select-competence" @display={{this.displaySelectLocation}} @onChange={{action "setCompetence"}} @name={{this.tube.name}} @areas={{this.areas}} @competence={{this.competence}} />
