<div class="tube-header">
  <div class="ui menu">
    <div class="ui left menu">
      {{#if this.mayMove}}
        <button class="ui button icon item" {{on "click" this.selectCompetence}} type="button"><i class="icon random"></i></button>
      {{/if}}
    </div>
    <div class="item header {{if this.creation "creation"}}">
      {{#if this.creation}}
        Nouveau tube
      {{else}}
        {{this.tube.name}}
      {{/if}}
    </div>
    <div class="ui right menu">
      {{#if this.maximized}}
        <button class="ui button icon item" {{on "click" this.minimize}} type="button"><i class="window minimize icon"></i></button>
      {{else}}
        <button class="ui button icon item" {{on "click" this.maximize}} type="button"><i class="window maximize outline icon"></i></button>
      {{/if}}
      <button class="ui button icon item" {{on "click" this.close}} type="button"><i class="icon window close"></i></button>
    </div>
  </div>
</div>
<div class="tube-details">
  <div class="tube-data">
    <Form::Tube @tube={{this.tube}} @edition={{this.edition}} />
  </div>
  <div class="ui vertical compact labeled icon menu tube-menu">
    {{#if this.edition}}
      <button class="ui button item important-action" {{on "click" this.save}} type="button">
        <i class="save icon"></i>
        Enregistrer
      </button>
      <button class="ui button item" {{on "click" this.cancelEdit}} type="button">
        <i class="ban icon"></i>
        Annuler
      </button>
    {{else}}
      {{#if this.mayEdit}}
        <button class="ui button item" {{on "click" this.edit}} type="button">
          <i class="edit icon"></i>
          Modifier
        </button>
      {{/if}}
      {{#if this.mayAccessAirtable}}
        <button class="ui button item" {{on "click" this.openAirtable}} type="button">
          <i class="table icon"></i>
          Airtable
        </button>
      {{/if}}
    {{/if}}
  </div>
</div>
<PopIn::SelectLocation
  @class="tube-select-competence"
  @display={{this.displaySelectLocation}}
  @onChange={{this.setCompetence}}
  @name={{this.tube.name}}
  @areas={{this.areas}}
  @selectTubeLevel={{false}}
  @competence={{this.competence}}
  @close={{this.closeSelectCompetence}} />
