<div class="skill-header {{skill.descriptionCSS}}">
  <div class="ui menu">
    <div class="ui left menu">
      {{#if mayMove}}
        <a class="ui icon item" onclick={{action "moveSkill"}}><i class="icon random"></i></a>
      {{/if}}
    </div>
    <div class="item header">{{skill.name}}</div>
    <div class="ui right menu">
      {{#if maximized}}
        <a class="ui icon item" onclick={{action "minimize"}}><i class="window minimize icon"></i></a>
      {{else}}
        <a class="ui icon item" onclick={{action "maximize"}}><i class="window maximize outline icon"></i></a>
      {{/if}}
      <a class="ui icon item" onclick={{action "close"}}><i class="icon window close"></i></a>
    </div>
  </div>
</div>
<div class="skill-details">
  <div class="skill-data">
    {{skill-form skill=skill application=application edition=edition}}
  </div>
  <div class="ui vertical compact labeled icon menu skill-menu">
    {{#if edition}}
      <a class="item important-action" onclick={{action "save"}}>
        <i class="save icon"></i>
        Enregistrer
      </a>
      <a class="item" onclick={{action "cancelEdit"}}>
        <i class="ban icon"></i>
        Annuler
      </a>
    {{else}}
      {{#if skill.productionTemplate}}
        <a class="item" onclick={{action "preview"}}>
          <i class="eye icon"></i>
          Prévisualiser
        </a>
      {{/if}}
      {{#if mayEdit}}
        <a class="item" onclick={{action "edit"}}>
          <i class="edit icon"></i>
          Modifier
        </a>
      {{/if}}
      {{#if mayAccessAirtable}}
        <a class="item" onclick={{action "openAirtable"}}>
          <i class="table icon"></i>
          Airtable
        </a>
      {{/if}}
    {{/if}}
  </div>
</div>
{{popin-select-location display=displaySelectLocation onChange=(action "setLocation") name=skillName areas=areas competence=competence selectTubeLevel=true tube=skill.tube level=skill.level selectEmptyLevels=true}}
