<header class="page-header">
  <h1 class="page-title">Détails d'une mission</h1>
  <div class="page-actions">
    <PixButtonLink
      @route="authenticated.missions.mission.edit"
      @isDisabled={{not this.model.userMayCreateOrEditMissions}}
      class="pix-button-link-with-icon white-font"
    >
      <FaIcon
        @icon="pen"
        @prefix="fas"></FaIcon>Modifier la mission
    </PixButtonLink>
  </div>
</header>
<main class="page-body">
  <section class="page-section">
    <Card class="mission-details__card-information" @title="1. Informations">
      <ul>
        <li><span class="bold">Nom : </span>{{this.model.mission.name}}</li>
        <li><span class="bold">Image carte : </span>{{this.model.mission.cardImageUrl}}</li>
        <li>
          <span class="bold">Compétence : </span>
            {{this.model.competence}}
        </li>
        <li>
          <span class="bold">Thématiques : </span>
          {{this.model.thematics}}
        </li>
        <li><span class="bold">Statut : </span>
          <PixTag @color="{{this.model.mission.statusColor}}">
            {{this.model.mission.displayableStatus }}
          </PixTag>
        </li>
        <li>
          <span class="bold">Objectifs d'apprentissage : </span>
          <div class="mission-details__description">
            <MarkdownToHtml @markdown={{this.model.mission.learningObjectives}} />
          </div>
        </li>
        <li>
          <span class="bold">Objectifs validés dans la mission : </span>
          <div class="mission-details__description">
            <MarkdownToHtml @markdown={{this.model.mission.validatedObjectives}} />
          </div>
        </li>
        <li>
          <span class="bold">URL du média d'introduction de la mission : </span>
          <a href={{ this.model.mission.introductionMediaUrl }} target="_blank">{{this.model.mission.introductionMediaUrl}}</a>
        </li>
        <li>
          <span class="bold">Type de média d'introduction : </span>
          {{ this.model.mission.introductionMediaType }}
        </li>
        <li>
          <span class="bold">Texte alternatif au média d'introduction de la mission : </span>
          {{ this.model.mission.introductionMediaAlt }}
        </li>
        <li>
          <span class="bold">URL de la documentation de la mission : </span>
          <a href={{ this.model.mission.documentationUrl }} target="_blank">{{this.model.mission.documentationUrl}} </a>
        </li>
        <li><span class="bold">Crée le : </span>{{dayjs-format this.model.mission.createdAt "DD/MM/YYYY" allow-empty=true}}</li>
      </ul>
    </Card>
  </section>
  <PixButtonLink @route="authenticated.missions" class="mission-details__back-home">
    Retour à la liste des missions
  </PixButtonLink>
</main>
