<header class="page-header">
  <h1 class="page-title">{{this.model.staticCourse.name}}</h1>
  <div class="page-actions">
    <PixButtonLink
      @backgroundColor="blue"
      @route="authenticated.static-courses.static-course.edit"
      @isDisabled={{not this.canEditStaticCourse}}
      class="pix-button-link-with-icon white-font"
    >
      <FaIcon
        @icon="pen"
        @prefix="fas"></FaIcon>Éditer le test statique
    </PixButtonLink>
    <PixButton
      @backgroundColor="grey"
      @isBorderVisible={{true}}
      @triggerAction={{this.showDeactivationModal}}
      @isDisabled={{not this.canDeactivateStaticCourse}}
    >
      Désactiver
    </PixButton>
  </div>
</header>
<main class="page-body">
  <section class="page-section">
    <Card class="static-course-details__card-information" @title="1. Informations">
      <ul>
        <li><span class="bold">Nom : </span>{{this.model.staticCourse.name}}</li>
        <li>
          <span class="bold">Description : </span>
          <div class="static-course-details__description">{{this.model.staticCourse.description}}</div>
        </li>
        <li><span class="bold">Statut du test : </span>
          <PixTag @color="{{if this.model.staticCourse.isActive "green-light" "grey-light"}}">
            {{if this.model.staticCourse.isActive "Actif" "Inactif"}}
          </PixTag>
          {{#if this.model.staticCourse.deactivationReason}}
            (Motif: {{this.model.staticCourse.deactivationReason}})
          {{/if}}
        </li>
        <li><span class="bold">Crée le : </span>{{dayjs-format this.model.staticCourse.createdAt "DD/MM/YYYY" allow-empty=true}}</li>
        <li><span class="bold">Dernière modification : </span>{{dayjs-format this.model.staticCourse.updatedAt "DD/MM/YYYY" allow-empty=true}}</li>
      </ul>
      <div class="static-course-details__card-information--actions">
        <PixButton
          @triggerAction={{fn this.copyStaticCoursePreviewUrl this.model.staticCourse}}
          @iconBefore="copy"
          @prefixIconBefore="far"
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          @isDisabled={{not this.model.staticCourse.isActive}}
        >
          Copier le lien
        </PixButton>
        <PixButtonLink
          @href={{if this.model.staticCourse.isActive this.model.staticCourse.previewURL "#"}}
          target={{if this.model.staticCourse.isActive "_blank" "_self"}}
          rel="noopener noreferrer"
          @backgroundColor="transparent-light"
          @isBorderVisible={{true}}
          class="pix-button-link-with-icon"
          @isDisabled={{not this.model.staticCourse.isActive}}
        >
          <FaIcon
            @icon="eye"
            @prefix="fas"></FaIcon> Prévisualiser
        </PixButtonLink>
      </div>
    </Card>
    <Card @title="2. Liste des épreuves">
      <div class="panel-table-v2">
        <table class="content-text content-text--small">
          <colgroup class="table__column">
            <col class="table__column--tiny" />
            <col class="table__column--small" />
            <col class="table__column--wide" />
            <col class="table__column--small" />
            <col class="table__column--small" />
            <col class="table__column--small" />
          </colgroup>
          <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Consigne</th>
            <th>Acquis</th>
            <th>Statut</th>
            <th>Prévisualisation</th>
          </tr>
          </thead>
          <tbody>
          {{#each this.model.staticCourse.sortedChallengeSummaries as |challengeSummary|}}
            <tr>
              <td>{{challengeSummary.indexForDisplay}}</td>
              <td>{{challengeSummary.id}}</td>
              <td class="ellipsis">{{challengeSummary.instruction}}</td>
              <td>{{challengeSummary.skillName}}</td>
              <td>
                {{#if (eq challengeSummary.status "validé")}}
                  <PixTag
                    @color="green-light"
                  >{{challengeSummary.status}}</PixTag>
                {{else if (eq challengeSummary.status "proposé")}}
                  <PixTag
                    @color="blue-light"
                  >{{challengeSummary.status}}</PixTag>
                {{else if (eq challengeSummary.status "archivé")}}
                  <PixTag
                    @color="grey-light"
                  >{{challengeSummary.status}}</PixTag>
                {{else if (eq challengeSummary.status "périmé")}}
                  <PixTag
                    @color="orange-light"
                  >{{challengeSummary.status}}</PixTag>
                {{else}}
                  <PixTag
                    @color="purple-light"
                  >{{challengeSummary.status}}</PixTag>
                {{/if}}
              </td>
              <td>
                <a
                  href="{{challengeSummary.previewUrl}}"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <FaIcon @icon="eye" @prefix="fas"/>
                </a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </Card>
    <div class="page-actions">
      <PixButtonLink
        @backgroundColor="transparent-light"
        @route="authenticated.static-courses.list"
        @isBorderVisible={{true}}
      >
        Retour
      </PixButtonLink>
      <PixButtonLink
        @backgroundColor="blue"
        @route="authenticated.static-courses.static-course.edit"
        @isDisabled={{not this.canEditStaticCourse}}
        class="pix-button-link-with-icon white-font"
      >
        <FaIcon
          @icon="pen"
          @prefix="fas"></FaIcon>Éditer le test statique
      </PixButtonLink>
    </div>
  </section>
</main>
<PixModal
  @title="Désactivation"
  @onCloseButtonClick={{this.closeDeactivationModal}}
  @showModal={{this.shouldDisplayDeactivationModal}}
>
  <:content>
    <p data-test-logout-message >
      Êtes-vous sûr de vouloir désactiver le test statique <b>{{this.model.staticCourse.name}}</b> ?<br/>
      Cette action est irréversible et il ne sera alors plus possible d’utiliser ce test.<br/>
      <PixInput
        @id="deactivationReason"
        @label="Raison de désactivation (facultatif)"
        @value={{this.deactivationReason}}
        {{on "input" this.setDeactivationReason}}
      />
    </p>
  </:content>
  <:footer>
    <PixButton data-test-logout-cancel-button
               @backgroundColor="transparent-light"
               @isBorderVisible={{true}}
               @triggerAction={{this.closeDeactivationModal}}
    >
      Non
    </PixButton>
    <PixButton data-test-logout-ok-button
               @triggerAction={{this.deactivateStaticCourse}}
    >
      Oui
    </PixButton>
  </:footer>
</PixModal>