<header className="page-header">
  <h1 className="page-title">Édition du test statique</h1>
</header>
<main className="page-body">
  <section className="page-section">
    <Form::StaticCourse
      @initialName={{this.model.name}}
      @initialDescription={{this.model.description}}
      @initialChallengeIds={{this.model.challengeIdsAsStringWithBreakLines}}
      @cancelButtonText="Annuler"
      @onFormCancelled={{this.goBackToDetails}}
      @submitButtonText="Enregistrer"
      @onFormSubmitted={{this.editStaticCourse}}
    />
  </section>
</main>
