<LinkTo @route="competence.history.single"  @query={{hash tube_id=@tubeId level=this.firstSkill.name}} @model={{@skills}} class="skill skill-cell link history" @tagName="td">
  <div class="skill-name ">
    {{this.firstSkill.name}}
  </div>
  <div>
    <i class="archive icon"></i> {{this.archivedCount}} | <span class="deleted-skill"><i class="trash alternate icon"></i> ({{this.deletedCount}})</span>
  </div>
</LinkTo>
