<LinkTo @route={{@link}} @model={{@skill.productionTemplate}} @tagName="td" class="skill skill-cell link production">
  {{@skill.name}}
  <div class="alternative">
    <span class="production">{{@skill.productionTemplate.productionAlternatives.length}}</span>
    {{#if @skill.productionTemplate.draftAlternativesWithoutArchivesAndDeletes.length}}
      <span class="draft">({{@skill.productionTemplate.draftAlternativesWithoutArchivesAndDeletes.length}})</span>
    {{/if}}
    {{#if @skill.template.notDeclinable}}
      <span class="not-declinable">NR</span>
    {{/if}}
  </div>
</LinkTo>
