<LinkTo @route="competence.skills.single" @model={{@skill}} @tagName="td" class="skill skill-cell link skill-mode {{this.alertCSS}}">
  <div class="skill-name {{@skill.descriptionCSS}}">
    {{@skill.name}}
  </div>
  <div class="help">
      {{#if (and @languageFilter this.hasNoClueByLanguage)}}
        <i class="idea icon empty" title="Indice manquant"></i>
      {{else if @languageFilter}}
        <i class="idea icon validated"></i>
      {{else if (or @skill.clue @skill.clueNA)}}
        <i class={{concat "idea icon " @skill.clueCSS}}></i>
      {{/if}}
    <span class="tuto-count">{{this.tutoSolutionCountByLanguage}} - {{this.tutoMoreCountByLanguage}}</span>
  </div>
</LinkTo>
