<td class="skill-cell workbench">
  <LinkTo @route="authenticated.competence.prototypes.list" @models={{array @tube.id @skill.id}} class="skill-cell__link">
    {{@skill.name}}
    <div class="workbench__status">
      {{#if this.loadingChallenges}}
        <span class="loading">...</span>
      {{else}}
        {{#if this.hasDraftPrototypes}}
          <span data-test-draft-prototype-count class="draft-prototype ui tiny label" title="Proposé">{{this.draftPrototypesCount}}</span>
        {{/if}}
        {{#if this.validatedPrototype}}
          <span data-test-validated-prototype-count class="validated-prototype ui tiny label" title="Validé">1</span>
        {{/if}}
        {{#if this.hasArchivedPrototypes}}
          <span data-test-archived-prototype-count class="archived-prototype ui tiny label" title="Archivé">{{this.archivedPrototypesCount}}</span>
        {{/if}}
        {{#if this.hasObsoletePrototypes}}
          <span data-test-obsolete-prototype-count class="obsolete-prototype ui tiny label" title="Périmé"> {{this.obsoletePrototypesCount}}</span>
        {{/if}}
      {{/if}}
    </div>
  </LinkTo>
</td>
