<td data-test-skill-cell class="skill-cell production {{this.alertCSS}}">
  <LinkTo
    data-test-skill-cell-link
    @route={{@link}}
    @model={{@skill.prototypeId}}
    class="skill-cell__link"
  >
    {{@skill.name}}
    <div class="alternative">
      <span data-test-production-alternative-length class="production" title="Nombre d'épreuves en production">
        {{@skill.validatedChallengesCount}}
      </span>
      {{#if (gt @skill.proposedChallengesCount 0)}}
        <span data-test-draft-alternative-length class="draft" title="Nombre d'épreuves en cours de construction">
          ({{@skill.proposedChallengesCount}})
        </span>
      {{/if}}
      {{#unless @skill.isProtoDeclinable}}
        <span class="not-declinable">NR</span>
      {{/unless}}
    </div>
  </LinkTo>
</td>
