<LinkTo @route="competence.skills.list" @models={{array @tube.id @skill.level}} class="skill skill-cell link skill-workbench" @tagName="td">
  <div class="skill-name ">
    {{@skill.name}}
  </div>
  <div class="skill-workbench__status ">
    {{#if this.hasDraftSkill}}
      <span data-test-draft-count class="workbench-status draft-skill ui tiny label" title="En construction">{{this.draftCount}}</span>
    {{/if}}

    {{#if this.hasActiveSkill}}
      <span data-test-active-count class="workbench-status active-skill ui tiny label" title="Validé">1</span>
    {{/if}}

    {{#if this.hasArchivedSkill}}
      <span data-test-archived-count class="workbench-status archive-skill ui tiny label" title="Archivé">{{this.archivedCount}}</span>
    {{/if}}

    {{#if this.hasObsoleteSkill}}
      <span data-test-obsolete-count class="workbench-status obsolete-skill ui tiny label" title="Périmé">{{this.obsoleteCount}}</span>
    {{/if}}
  </div>
</LinkTo>
