<LinkTo @route="competence.skills.single" @model={{@skill}} @tagName="td" class={{concat "skill skill-cell link skill-mode" (if (not @skill.productionTemplate) " draft-skill")}}>
  <div class="skill-name {{@skill.descriptionCSS}}">
    {{@skill.name}}
  </div>
  <div class="help">
    {{#if (or @skill.clue @skill.clueNA)}}
    <i class={{concat "idea icon " @skill.clueCSS}}></i>
    {{else}}
    <i class="icon"></i>
    {{/if}}
    <span class="tuto-count">{{@skill.tutoSolutionCount}} - {{@skill.tutoMoreCount}}</span>
  </div>
</LinkTo>
