{{#if (eq this.cellType "production")}}
  <Competence::Grid::CellProduction @skill={{@skill}} @link={{@link}} />
{{else if (eq this.cellType "workbench")}}
  <Competence::Grid::CellWorkbench @skill={{@skill}} />
{{else if (eq this.cellType "historySkill")}}
  <Competence::Grid::CellHistory @tubeId={{@tubeId}} @skills={{@skills}} />
{{else if (eq this.cellType "skill")}}
  <Competence::Grid::CellSkill @skill={{@skill}} />
{{else if (eq this.cellType "add-skill")}}
  <td>
    <LinkTo @route="competence.skills.new" @models={{array @tubeId @index}} class="add-skill">
    <i class="icon plus circle"></i></LinkTo>
  </td>
{{else if (eq this.cellType "quality")}}
  <Competence::Grid::CellQuality @skill={{@skill}} />
{{else if (eq this.cellType "i18n")}}
  <Competence::Grid::CellI18n @skill={{@skill}} />
{{else}}
  <td class="skill-cell__empty"></td>
{{/if}}
