<header class="page-header">
  <h1 class="page-title">Tests Statiques</h1>
  <div class="page-actions">
    <PixTooltip
      @id='create-static-course-tooltip'
      @position="bottom-left"
      @hide={{this.model.mayCreateStaticCourse}}
    >
      <:triggerElement>
        <PixButtonLink
          @backgroundColor="blue"
          @route="authenticated.static-courses.new"
          @isDisabled={{not this.model.mayCreateStaticCourse}}
          aria-describedby='create-static-course-tooltip'
          class="pix-button-link-with-icon white-font"
        >
          <FaIcon
            @icon="plus"
            @prefix="fas"></FaIcon>
          Créer un nouveau test
        </PixButtonLink>
      </:triggerElement>

      <:tooltip>
        Vous n'avez pas les droits suffisants pour créer un test statique.
      </:tooltip>
    </PixTooltip>
  </div>
</header>
<main class="page-body">
  <section class="page-section">
    <form {{on "submit" this.submitFilters}} class="new-mission-form">
      <PixFilterBanner
      @title="Filtres"
      class="table-filter-banner"
      @clearFiltersLabel="Réinitialiser les filtres"
      @onClearFilters={{this.clearFilters}}
      @isClearFilterButtonDisabled={{false}}
      >
        <PixInput
          @id="static-course-filter-name"
          @label="Nom"
          placeholder="Nom"
          @screenReaderOnly={{true}}
          @value={{this.name}}
          {{on "keyup" this.updateName}}
        />
        <PixToggle
          @label="Statut"
          @inline={{true}}
          @onLabel="Actifs"
          @offLabel="Tous"
          @toggled={{this.showActiveOnly}}
          @onChange={{this.toggleShowActiveOnly}}
          @screenReaderOnly={{true}}
        />
        <PixButton
          @type="submit"
        >
          Filtrer
        </PixButton>
      </PixFilterBanner>
    </form>
    <div class="panel-table-v2">
      <table class="content-text content-text--small">
        <colgroup class="table__column">
          <col class="table__column--wide" />
          <col class="table__column--wide" />
          <col class="table__column--small" />
          <col class="table__column--small" />
          <col class="table__column--small" />
          <col class="table__column--small" />
        </colgroup>
        <thead>
          <tr>
            <th>Nom</th>
            {{#if this.shouldDisplayTags}}<th>Tags</th>{{/if}}
            <th>Epreuves</th>
            <th>Créé le</th>
            <th>Statut</th>
            <th>Prévisualisation</th>
          </tr>
        </thead>
        <tbody>
        {{#each this.model.staticCourseSummaries as |staticCourseSummary|}}
          <tr class="tr--clickable">
            <td {{on "click" (fn this.goToStaticCourseDetails staticCourseSummary.id)}}>
              {{staticCourseSummary.name}}
            </td>
            {{#if this.shouldDisplayTags}}
              <td {{on "click" (fn this.goToStaticCourseDetails staticCourseSummary.id)}}>
                {{#each staticCourseSummary.tags as |tag|}}
                  <PixTag class="static-course-tag" @color="secondary">
                    {{tag.label}}
                  </PixTag>
                {{/each}}
              </td>
            {{/if}}
            <td {{on "click" (fn this.goToStaticCourseDetails staticCourseSummary.id)}}>{{staticCourseSummary.challengeCount}}</td>
            <td {{on "click" (fn this.goToStaticCourseDetails staticCourseSummary.id)}}>{{dayjs-format staticCourseSummary.createdAt "DD/MM/YYYY" allow-empty=true}}</td>
            <td {{on "click" (fn this.goToStaticCourseDetails staticCourseSummary.id)}}>
              <PixTag @color="{{if staticCourseSummary.isActive "success" "neutral"}}">
                {{if staticCourseSummary.isActive "Actif" "Inactif"}}
              </PixTag>
            </td>
            <td class="actions">
              <PixTooltip
                @id='copy-static-course-link-tooltip'
                @position="top"
                @isInline={{true}}
                @hide={{not staticCourseSummary.isActive}}
              >
                <:triggerElement>
                  <PixIconButton
                    @triggerAction={{fn this.copyStaticCoursePreviewUrl staticCourseSummary}}
                    @icon="copy"
                    @iconPrefix="far"
                    @ariaLabel="copier le lien vers la preview"
                    class="icon"
                    aria-describedby='copy-static-course-link-tooltip'
                    disabled={{not staticCourseSummary.isActive}}
                  >
                  </PixIconButton>
                </:triggerElement>
                <:tooltip>Copier l’URL d’accès au test</:tooltip>
              </PixTooltip>
              <PixTooltip
                @id='open-static-course-link-tooltip'
                @position="top"
                @isInline={{true}}
                @hide={{not staticCourseSummary.isActive}}
                class="{{if staticCourseSummary.isActive "" "disabled-tooltip-content"}}"
              >
                <:triggerElement>
                  <a
                    href="{{staticCourseSummary.previewURL}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-describedby='open-static-course-link-tooltip'
                    class="{{if staticCourseSummary.isActive "" "disabled-link-with-icon"}}"
                  >
                    <FaIcon @icon="eye" @prefix="fas"/>
                  </a>
                </:triggerElement>
                <:tooltip>Accéder au test</:tooltip>
              </PixTooltip>

            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </section>
  <div class="static-course-list__pagination">
    <PixPagination
      @pagination={{this.model.staticCourseSummaries.meta}}
    />
  </div>
</main>
