<header class="page-header">
  <div class="page-title">
    <h1>Tests Statiques</h1>
  </div>
</header>
<main class="page-body">
  <section class="page-section">
    <div class="panel-table-v2">
      <table class="content-text content-text--small">
        <colgroup class="table__column">
          <col class="table__column--wide" />
          <col class="table__column--small" />
          <col class="table__column--small" />
          <col class="table__column--small" />
        </colgroup>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Epreuves</th>
          <th>Créé le</th>
          <th>Prévisualisation</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.model as |staticCourseSummary|}}
          <tr class="tr--clickable" {{on "click" (fn this.goToStaticCourseDetails staticCourseSummary.id)}}>
            <td>
              <LinkTo @route="authenticated.static-courses.static-course" @model={{staticCourseSummary.id}}>
                {{staticCourseSummary.name}}
              </LinkTo>
            </td>
            <td>{{staticCourseSummary.challengeCount}}</td>
            <td>{{dayjs-format staticCourseSummary.createdAt "DD/MM/YYYY" allow-empty=true}}</td>
            <td class="actions">
              <PixIconButton @triggerAction={{fn this.copyStaticCoursePreviewUrl staticCourseSummary}} @icon="copy" @iconPrefix="far" @ariaLabel="copier le lien vers la preview" class="icon">COPIERCOLLER</PixIconButton>
              <a
                href="{{staticCourseSummary.previewURL}}"
                target="_blank"
                rel="noopener noreferrer"
              ><FaIcon @icon="eye" @prefix="fas"/>
              </a>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="static-course-list__pagination">
      <PixPagination
        @pagination={{this.model.meta}}
      />
    </div>
  </section>
</main>
