<div class="competence-grid">
  <table class="ui celled table definition tubes">
    <tbody>
    {{#each @tubes as |tube|}}
      {{#if (or this.displayAllTubes tube.hasProductionChallenge) }}
        <tr>
          <td>
            {{#if (and (eq @skillView "production") (eq @section "skills"))}}
              <LinkTo @route="competence.tubes.single" @model={{tube}}>{{tube.name}}</LinkTo>
            {{else}}
              {{tube.name}}
            {{/if}}
          </td>
          {{#if (and (eq @skillView "history") (eq @section "skills"))}}
            {{#each tube.filledRawSkills as |skills index|}}
              <Competence::Grid::GridCell @section={{@section}}
                                          @view={{@view}}
                                          @skillView={{@skillView}}
                                          @skills={{skills}}
                                          @link={{@link}}
                                          @tubeId={{tube.id}}
                                          @index={{index}} />
            {{/each}}
          {{else}}
            {{#each tube.filledSkills as |skill index|}}
              <Competence::Grid::GridCell @section={{@section}}
                                          @view={{@view}}
                                          @skillView={{@skillView}}
                                          @skill={{skill}}
                                          @link={{@link}}
                                          @tubeId={{tube.id}}
                                          @index={{index}} />
            {{/each}}
          {{/if}}

        </tr>
      {{/if}}
    {{/each}}
    </tbody>
  </table>
</div>
