<div class="ui top attached borderless labelled icon menu{{this.skillClass}}">
  {{#unless this.config.lite}}
    {{#if (eq @section "skills")}}
      <div class="ui top attached tabular menu">
        <div class="item production {{if (eq @view "production") "active" ""}}" {{on "click" (fn @selectView "production")}}>En production</div>
        <div class="item workbench {{if (eq @view "history") "active" ""}}"  {{on "click" (fn @selectView "history")}}>Historique</div>
      </div>
      {{#if (eq @view "production")}}
        <button class="ui button left item" type="button" {{on "click" @shareSkills}}>
          <i class="share square icon"></i> Exporter
        </button>
      {{/if}}
    {{else if (eq @section "challenges")}}
      <div class="ui top attached tabular menu">
        <div class="item production {{if (eq @view "production") "active" ""}}" {{on "click" (fn @selectView "production")}}>En production</div>
        <div class="item workbench {{if (or (eq @view "workbench") (eq @view "workbench-list")) "active" ""}}"  {{on "click" (fn @selectView "workbench")}}>Atelier</div>
      </div>
    {{/if}}
  {{/unless}}
  <button class="ui button right item" {{on "click" (fn @refresh true)}} type="button">
    <i class="sync alternate icon"></i> Actualiser
  </button>
</div>
