<div class="ui borderless bottom attached labelled icon menu{{this.skillClass}}">
  {{#if this.displayWorkbenchViews}}
    <PixButton
      @triggerAction={{fn @selectView "workbench"}}
      @backgroundColor="{{if (eq @view "workbench") "grey" "transparent-light"}}"
      @iconBefore="table-cells"
      @prefixIconBefore="fas"
    >
    </PixButton>
    <PixButton
      @triggerAction={{fn @selectView "workbench-list"}}
      @backgroundColor="{{if (eq @view "workbench") "transparent-light" "grey"}}"
      @iconBefore="align-justify"
      @prefixIconBefore="fas"
    >
    </PixButton>
  {{/if}}
  {{#if this.mayCreateTheme}}
    <PixButton
      @triggerAction={{@newTheme}}
      @backgroundColor="transparent-light"
      @iconBefore="square-plus"
      @prefixIconBefore="fas"
    >
      Nouvelle Thématique
    </PixButton>
    <PixButton
      @triggerAction={{@displaySortThemesPopIn}}
      @backgroundColor="transparent-light"
      @iconBefore="arrow-right-arrow-left"
      @prefixIconBefore="fas"
      class="button-with-rotated-icon-90"
    >
      Trier les Thématiques
    </PixButton>
  {{/if}}
  {{#if this.displayProductionStats}}
    <div class="item competence-info"><div class="competence-info">Tubes : {{@competence.productionTubeCount}}</div><div class="competence-info">Acquix : {{@competence.productionSkillCount}}</div></div>
  {{else}}
    <div class="item competence-info"><div class="competence-info">Tubes : {{@competence.tubeCount}}</div><div class="competence-info">Acquix : {{@competence.skillCount}}</div></div>
  {{/if}}
  {{#if this.mayCreatePrototype}}
      <button class="ui button right item" {{on "click" @newPrototype}} type="button">
          <i class="plus square outline icon" data-test-create-new-challenge></i> Nouveau prototype
      </button>
  {{/if}}
</div>
