<div class="ui borderless bottom attached labelled icon menu{{this.skillClass}}">
  {{#if this.displayWorkbenchViews}}
    <button class={{concat "ui button item" (if (eq @view "workbench") " active" "")}} {{on "click" (fn @selectView "workbench")}} type="button">
      <i class="grid layout icon"></i>
    </button>
    <button class={{concat "ui button item" (if (eq @view "workbench-list") " active" "")}} {{on "click" (fn @selectView "workbench-list")}} type="button">
      <i class="align justify icon"></i>
    </button>
  {{/if}}
  {{#if this.mayCreateTheme}}
    <button class="ui button left item" {{on "click" @newTheme}} type="button">
      <i class="plus square outline icon"></i> Nouvelle Thématique
    </button>
  {{/if}}
  {{#if this.displayProductionStats}}
    <div class="item competence-info"><div class="competence-info">Tubes : {{@competence.productionTubeCount}}</div><div class="competence-info">Acquix : {{@competence.productionSkillCount}}</div></div>
  {{else}}
    <div class="item competence-info"><div class="competence-info">Tubes : {{@competence.tubeCount}}</div><div class="competence-info">Acquix : {{@competence.skillCount}}</div></div>
  {{/if}}
  {{#if this.mayCreateTube}}
    <button class="ui button left item" {{on "click" @newTube}} type="button">
      <i class="plus square outline icon"></i> Nouveau tube
    </button>
  {{/if}}
  {{#if this.mayCreatePrototype}}
      <button class="ui button right item" {{on "click" @newPrototype}} type="button">
          <i class="plus square outline icon" data-test-create-new-challenge></i> Nouveau prototype
      </button>
  {{/if}}
</div>
