<div class="ui main-title{{this.liteClass}}">
  <h1 class="ui left floated header">
    <LinkTo @route="competence-management.single" @model={{@competence}} class="competence-management-link">{{@competence.name}}</LinkTo>
  </h1>
  <div class="selection ui small right floated header select-section">
    <PowerSelect @dropdownClass="select-section-dropdown" @searchEnabled={{false}} @options={{this.sections}} @selected={{this.selectedSection}} @onChange={{@selectSection}} as |section|>
      {{section.title}}
    </PowerSelect>
  </div>
  {{#if this.displayLanguageFilter}}
    <div class="selection ui small right floated header language-filter">
      <PowerSelect @dropdownClass="language-filter-dropdown" @searchEnabled={{false}} @options={{this.languageOptions}} @selected={{this.selectedLanguageToFilter}} @onChange={{@selectLanguageToFilter}} as |languageOption|>
        {{#if languageOption.local}}
          {{languageOption.language}} <i class="flag {{convert-language-as-flag languageOption.local}}"></i>
        {{else}}
          {{languageOption.title}}
        {{/if}}
      </PowerSelect>
    </div>
  {{/if}}
</div>
