{{#if (and this.mayCreateTube this.hasNoTubes)}}
  <tr>
    <td data-test-theme-cell class="theme-cell create-tube">
        <LinkTo @route="authenticated.competence.themes.single" @model={{@theme}}>{{@theme.name}}</LinkTo>
        <div class="ui mini basic icon buttons tube-management">
          <PixIconButton
            @triggerAction={{fn @newTube @theme}}
            @icon="square-plus"
            @iconPrefix="fas"
            @size="small"
            @ariaLabel="Nouveau tube"/>
        </div>
    </td>
    <td data-test-empty-row colspan="8" class="empty-row"></td>
  </tr>
{{else}}
  {{#each this.tubesOrProductionTubes as |tube index|}}
    <tr>
      {{#if (eq index 0)}}
        <td data-test-theme-cell rowspan={{this.rowSpanTheme}} class="theme-cell {{if this.mayCreateTube 'create-tube'}}">
          {{#if (eq @section 'skills')}}
            <LinkTo data-test-theme-managment @route="authenticated.competence.themes.single" @model={{@theme}}>{{@theme.name}}</LinkTo>
          {{else}}
            {{@theme.name}}
          {{/if}}
          {{#if this.mayCreateTube}}
            <div class="ui mini basic icon buttons tube-management">
              <PixIconButton
                @triggerAction={{fn @newTube @theme}}
                @icon="square-plus"
                @iconPrefix="fas"
                @size="small"
                @ariaLabel="Nouveau tube"/>
              <PixIconButton
                @triggerAction={{fn @displaySortTubesPopIn @theme.tubes}}
                @icon="arrow-right-arrow-left"
                @iconPrefix="fas"
                @size="small"
                class="button-with-rotated-icon-90"
                @ariaLabel="Trier les tubes"/>
            </div>
          {{/if}}
        </td>
      {{/if}}
        <Competence::CompetenceGridTube @languageFilter={{@languageFilter}}
                                        @tube={{tube}}
                                        @section={{@section}}
                                        @view={{@view}}
                                        @link={{@link}}/>
    </tr>
  {{/each}}
{{/if}}
