<td data-test-tube-cell class="tube-cell">
  {{#if (eq @section "skills")}}
    <LinkTo data-test-tube-managment @route="authenticated.competence.tubes.single" @model={{@tube.airtableId}}>{{@tube.name}}</LinkTo>
  {{else}}
    {{@tube.name}}
  {{/if}}
</td>

{{#each this.skills as |skill index|}}
  <Competence::Grid::GridCell
    @section={{@section}}
    @languageFilter={{@languageFilter}}
    @view={{@view}}
    @skill={{skill}}
    @link={{@link}}
    @tube={{@tube}}
    @index={{index}}
  />
{{/each}}
