<form action="" class="ui form">
  <Field::Mde @title="Consigne" @value={{@challenge.instructions}} @edition={{@edition}} @helpContent={{this.helpInstructions}} @setValue={{fn (mut @challenge.instructions)}}/>
  {{#if (not @alternative)}}
    <Field::Select @title="Type" @value={{@challenge.type}} @options={{this.options.types}} @edition={{@edition}} @setValue={{fn (mut @challenge.type)}}/>
  {{/if}}
  {{#if this.typeIsQROC}}
    <Field::Select @title="Format QROC" @value={{@challenge.format}} @defaultText="Mots" @options={{this.options.format}} @edition={{@edition}} @setValue={{fn (mut @challenge.format)}}/>
  {{/if}}
  <Field::Textarea @title="Propositions" @value={{@challenge.suggestion}} @edition={{@edition}} @helpContent={{this.helpSuggestions}} />
  <Field::Textarea @title="Réponses" @value={{@challenge.answers}} @edition={{@edition}} @helpContent={{this.helpAnswers}} />
  {{#if @challenge.isTextBased}}
      <div class={{concat "field" (if @edition "" " disabled")}}>
          <label>Tolérance</label>
          <div class="three fields">
              <div class="field">
                <Field::Checkbox @label="T1 (espaces/casse/accents)" @checked={{@challenge.t1}} @disabled={{not @edition}} />
              </div>
              <div class="field">
                <Field::Checkbox @label="T2 (ponctuation)" @checked={{@challenge.t2}} @disabled={{not @edition}} />
              </div>
              <div class="field">
                <Field::Checkbox @label="T3 (distance d'édition)" @checked={{@challenge.t3}} @disabled={{not @edition}} />
              </div>
          </div>
      </div>
  {{/if}}
  {{#if @challenge.supportsScoring}}
    <Field::Textarea @value={{@challenge.scoring}} @title="Scoring" @edition={{@edition}} @helpContent={{this.helpScoring}} />
  {{/if}}
  <Field::Illustration @title="Illustration" @value={{@challenge.illustration}} @edition={{@edition}} @setValue={{fn (mut @challenge.illustration)}} @display={{@showIllustration}} />
  {{#if @challenge.illustration}}
    <Field::Textarea @value={{@challenge.alternativeText}} @title="Texte alternatif" @edition={{@edition}} />
  {{/if}}
  <Field::Files @title="Pièces jointes" @value={{@challenge.attachments}} @baseName={{@challenge.attachmentBaseName}} @setValue={{fn (mut @challenge.attachments)}} @edition={{@edition}} />
  <Field::Input @title="Embed" @value={{@challenge.embedURL}} @edition={{@edition}} @label="URL" />
  <Field::Input @value={{@challenge.embedHeight}} @edition={{@edition}} @label="Hauteur" />
  <Field::Input @value={{@challenge.embedTitle}} @edition={{@edition}} @label="Titre" />
  {{#if (not @alternative)}}
    <Field::Select @title="Type pédagogie" @value={{@challenge.pedagogy}} @options={{this.options.pedagogy}} @edition={{@edition}} @setValue={{fn (mut @challenge.pedagogy)}}/>
  {{/if}}
  {{#if this.authors.isFulfilled}}
    <Field::Select @title="Auteur" @value={{@challenge.author}} @options={{this.authors}} @edition={{@edition}} @multiple={{true}} @setValue={{fn (mut @challenge.author)}}/>
  {{/if}}
  {{#if (not @alternative)}}
    <Field::Select @title="Déclinable" @value={{@challenge.declinable}} @options={{this.options.declinable}} @edition={{@edition}} @setValue={{fn (mut @challenge.declinable)}}/>
  {{/if}}
    <div class={{concat "field" (if @edition "" " disabled")}}>
        <Field::Checkbox @label="Timer" @checked={{@challenge.timerOn}} @disabled={{not @edition}} />
      {{#if @challenge.timer}}
        <Field::Input @value={{@challenge.timer}} @edition={{@edition}} />
      {{/if}}
    </div>
  {{#if @challenge.isSuggested}}
      <div class={{concat "field" (if @edition "" " disabled")}}>
          <label>Qualité</label>
          <div class="four fields">
              <div class="field">
                <Field::Select @title="Non voyant" @value={{@challenge.accessibility1}} @edition={{@edition}} @multiple={{false}} @options={{this.options.accessibility1}} @setValue={{fn (mut @challenge.accessibility1)}}/>
              </div>
              <div class="field">
                <Field::Select @title="Daltonien" @value={{@challenge.accessibility2}} @edition={{@edition}} @multiple={{false}} @options={{this.options.accessibility2}} @setValue={{fn (mut @challenge.accessibility2)}}/>
              </div>
              <div class="field">
                <Field::Select @title="Spoil" @value={{@challenge.spoil}} @edition={{@edition}} @multiple={{false}} @options={{this.options.spoil}} @setValue={{fn (mut @challenge.spoil)}} />
              </div>
              <div class="field">
                <Field::Select @title="Responsive" @value={{@challenge.responsive}} @edition={{@edition}} @multiple={{false}} @options={{this.options.responsive}} @setValue={{fn (mut @challenge.responsive)}} />
              </div>
          </div>
      </div>
  {{/if}}
  <div class={{concat "field" (if @edition "" " disabled")}}>
      <label>Internationalisation</label>
      <div class="two fields">
          <div class="field">
            <Field::Select @title="Langue" @value={{@challenge.languages}} @edition={{@edition}} @multiple={{true}} @options={{this.options.language}} @setValue={{fn (mut @challenge.languages)}}/>
          </div>
          <div class="field">
            <Field::Select @title="Géographie" @value={{@challenge.area}} @edition={{@edition}} @multiple={{false}} @options={{this.options.area}} @setValue={{fn (mut @challenge.area)}} />
          </div>
      </div>
  </div>
  {{#if (not @edition)}}
    <Field::Input @value={{@challenge.pixId}} @title="Id" @edition={{false}} />
  {{/if}}
</form>