<form {{on "submit" this.onSubmitClicked}} class="form">
  <Card class="new-mission-form-field" @title="Création d'une mission">
    <PixInput
      @id="mission-name"
      @label="Nom de la mission"
      @errorMessage="{{this.name.errorMessage}}"
      @requiredLabel="{{this.name.errorMessage}}"
      @validationStatus={{this.name.state}}
      {{on "focusout" this.validateName}}
      {{on "keyup" this.updateName}}
    />
   <PixSelect
      @options={{this.statusOptions}}
      @value={{this.selectedStatus}} 
      @onChange={{this.changeStatus}}
      @requiredText="{{this.name.errorMessage}}"
      @label='Statut'
    />

    {{!-- <PixSelect
      @options={{this.competencesOptions}}
      @onChange={{this.selectCompetence}}
      @requiredText="champs requis"

      @label="Compétence"
      /> --}}
      
    <PixInput
      @id="mission-competence-id"
      @label="Compétence Id"
      @validationStatus={{this.competenceId.state}}
      {{on "focusout" this.validateComptenceId}}
      {{on "keyup" this.updateCompetenceId}}
    />
    <PixInput
      @id="mission-thematic-id"
      @label="Thématique Id"
    />

    <label class="new-mission-form__label"  for="mission-learning-objectives">Objectifs d'apprentissage</label>
    <p>Ce texte s’affichera dans l’écran de début de mission.</p>
    <PixTextarea
      @id="mission-learning-objectives"
      {{on "change" this.updateLearningObjectives}}
    />

    <label class="new-mission-form__label" for="mission-validated-objectives">Objectifs validés dans la mission</label>
    <p>Ce texte s’affichera dans l’écran de fin de mission.<br>
Attention, cet élément est pour le moment utilisé que pour de l’affichage dans Pix 1D</p>
    <PixTextarea
      @id="mission-validated-objectives"
      {{on "change" this.updateValidatedObjectives}}
    />
   </Card>  
  <div class="form-error">
    {{#each this.errorMessages as |errorMessage|}}
      {{errorMessage}}<br/>
    {{/each}}
  </div>
 
  <div class="page-actions">
    <PixButton
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{@onFormCancelled}}
    >
      Annuler
    </PixButton>
    <PixButton
      @type="submit"
      @isDisabled={{this.isFormInvalid}}
      @isLoading={{this.isSubmitting}}
    >
      {{@submitButtonText}}
    </PixButton>
  </div>
</form>