<div class="ui content">
  <form class="ui form">
    <div class="field">
      <Field::Select @title="Statut" @value={{@entry.status}} @options={{this.options.status}} @edition={{@edition}} @setValue={{fn (mut @entry.status)}}/>
    </div>
    <div class="field {{if @edition "" "disabled"}}">
      <label for="note">Texte</label>
      <div class="ui input">
        <Textarea id="note" @value={{@entry.text}} rows="4" readonly={{not @edition}} />
      </div>
    </div>
  </form>
</div>
<div class="actions">
  <button class="ui right button" {{on "click" @close}} type="button">
    Retour
  </button>
  {{#if @edition}}
  <button class="ui green right button" {{on "click" @save}} type="button">
    Enregistrer
  </button>
  {{else}}
    {{#if @mayEdit}}
    <button class="ui green right button" {{on "click" @edit}} type="button">
      Modifier
    </button>
    {{/if}}
  {{/if}}
</div>
