<form action="" class="ui form">
  <Field::Textarea @title="Description" @value={{@skill.description}} @edition={{@edition}} />
  <Field::Select @title="Statut de la description" @value={{@skill.descriptionStatus}} @options={{this.options.descriptionStatus}} @edition={{@edition}} @setValue={{fn (mut @skill.descriptionStatus)}}/>
  <Field::Textarea @title="Indice (fr)" @value={{@skill.clue}} @edition={{@edition}} />
  <Field::Textarea @title="Indice (en)" @value={{@skill.clueEn}} @edition={{@edition}} />
  <Field::Select @title="Statut de l'indice" @value={{@skill.clueStatus}} @options={{this.options.clueStatus}} @edition={{@edition}} @setValue={{fn (mut @skill.clueStatus)}}/>
  {{#if @skill.productionPrototype}}
    <Field::Quality @title="Qualité" @challenge={{@skill.productionPrototype}} @edition={{@edition}} />
  {{/if}}
  <Field::Tutorials
    @title="Pour réussir la prochaine fois"
    @skill={{@skill}}
    @tutorials={{@skill.tutoSolution}}
    @searchClass="solution"
    @edition={{@edition}}
    @addTutorial={{fn this.addTutorial @skill.tutoSolution}}
    @removeTutorial={{fn this.removeTutorial @skill.tutoSolution}}/>
  <Field::Tutorials
    @title="Pour en savoir plus"
    @skill={{@skill}}
    @tutorials={{@skill.tutoMore}}
    @edition={{@edition}}
    @searchClass="more"
    @addTutorial={{fn this.addTutorial @skill.tutoMore}}
    @removeTutorial={{fn this.removeTutorial @skill.tutoMore}}/>
  <Field::Select @title="Internationalisation" @value={{@skill.i18n}} @options={{this.options.i18n}} @edition={{@edition}} @setValue={{fn (mut @skill.i18n)}}/>
  {{#unless @edition}}
    <Field::Input @value={{@skill.pixId}} @title="Id" @edition={{false}} />
  {{/unless}}
</form>
