<form action="" class="ui form">
  {{#if @edition}}
    <Field::Input @value={{@tube.name}} @edition={{@edition}} @label="Nom"/>
  {{/if}}
  {{#if @creation}}
    <Field::Select data-test-select-theme @title="Thématique *" @defaultText="Sélectionner une thématique" @value={{this.selectedTheme}} @options={{this.themeList}} @edition={{true}} @setValue={{this.selectTheme}}/>
  {{/if}}
  <div class="ui raised segment">
    <Field::Input @value={{@tube.practicalTitleFr}} @edition={{@edition}} @label="Titre pratique (fr)"/>
    <Field::Textarea @title="Description pratique (fr) :" @value={{@tube.practicalDescriptionFr}} @edition={{@edition}} />
  </div>
  <div class="ui raised segment">
    <Field::Input @value={{@tube.practicalTitleEn}} @edition={{@edition}} @label="Titre pratique (en)"/>
    <Field::Textarea @title="Description pratique (en) :" @value={{@tube.practicalDescriptionEn}} @edition={{@edition}} />
  </div>
  {{#unless @edition}}
    <Field::Input @value={{@tube.pixId}} @title="Id" @edition={{false}} />
  {{/unless}}
</form>
