<form action="" class="ui form">
  {{#if @edition}}
    <Field::Input @value={{@tube.name}} @edition={{@edition}} @label="Nom"/>
  {{/if}}
  <Field::Input @value={{@tube.title}} @edition={{@edition}} @label="Titre"/>
  <Field::Textarea @title="Description" @value={{@tube.description}} @edition={{@edition}} />
  <div class="ui raised segment">
    <Field::Input @value={{@tube.practicalTitleFr}} @edition={{@edition}} @label="Titre pratique (fr)"/>
    <Field::Textarea @title="Description pratique (fr) :" @value={{@tube.practicalDescriptionFr}} @edition={{@edition}} />
  </div>
  <div class="ui raised segment">
    <Field::Input @value={{@tube.practicalTitleEn}} @edition={{@edition}} @label="Titre pratique (en)"/>
    <Field::Textarea @title="Description pratique (en) :" @value={{@tube.practicalDescriptionEn}} @edition={{@edition}} />
  </div>
  {{#if (not @edition)}}
    <Field::Input @value={{@tube.pixId}} @title="Id" @edition={{false}} />
  {{/if}}
</form>
