<form action="" class="ui form">
  {{#if @edition}}
    <Field::Input
      data-test-name-field
      @value={{@tube.name}}
      @edition={{@edition}}
      @label="Nom"
      @id="tube-name"
    />
  {{/if}}
  <div class="ui raised segment">
    <Field::Input
      data-test-practical-title-fr-field
      @value={{@tube.practicalTitleFr}}
      @edition={{@edition}}
      @label="Titre pratique (fr)"
      @id="tube-title-fr"
    />
    <Field::Textarea
      data-test-practical-description-fr-field
      @title="Description pratique (fr) :"
      @value={{@tube.practicalDescriptionFr}}
      @edition={{@edition}}
    />
  </div>
  <div class="ui raised segment">
    <Field::Input
      data-test-practical-title-en-field
      @value={{@tube.practicalTitleEn}}
      @edition={{@edition}}
      @label="Titre pratique (en)"
      @id="tube-title-en"
    />
    <Field::Textarea
      data-test-practical-description-en-field
      @title="Description pratique (en) :"
      @value={{@tube.practicalDescriptionEn}}
      @edition={{@edition}}
    />
  </div>
  {{#unless @edition}}
    <Field::Input
      data-test-pix-id-field
      @value={{@tube.pixId}}
      @title="Id"
      @edition={{false}}
    />
  {{/unless}}
</form>
