<Competence::Prototypes::ChallengeHeader
  @class=""
  @maximized={{this.maximized}}
  @minimize={{this.minimize}}
  @maximize={{this.maximize}}
  @close={{this.close}}
>
  <:default>
    <i class="{{convert-language-as-flag this.model.locale}} flag" title={{this.model.locale}}></i>
    {{this.challengeTitle}}
    <div class="ui circular label {{this.model.statusCSS}}">{{ this.model.statusText }}</div>
  </:default>
</Competence::Prototypes::ChallengeHeader>
<div class="challenge">
  <div class="challenge-data {{this.elementClass}}" {{scroll-top false}}>
    <form action="" class="ui form">
      <Field::Illustration
        @title="Illustration"
        @value={{this.model.illustration}}
        @edition={{this.edition}}
        @addIllustration={{this.addIllustration}}
        @removeIllustration={{this.removeIllustration}}
        @display={{this.showIllustration}}
        data-test-file-input-illustration
      />
      {{#if this.model.illustration}}
        <Field::Textarea
          @value={{this.model.illustration.alt}}
          @title="Texte alternatif"
          @edition={{false}}
          @id="challenge-illustration-alt"
        />
      {{/if}}
      <Field::Files
        @title="Pièces jointes"
        @value={{this.model.attachments}}
        @baseName={{this.model.attachmentBaseName}}
        @addAttachment={{this.addAttachment}}
        @edition={{this.edition}}
        @removeAttachment={{this.removeAttachment}}
        data-test-file-input-attachment
      />
      <Field::Input
        @id="localized-challenge-embed-url"
        @label="Embed URL"
        @value={{this.model.embedURL}}
        @edition={{this.edition}}
        @placeholder="Url de l'embed"
      />
      {{#unless this.edition}}
        <Field::Input
          @id="localized-challenge-id"
          @value={{this.model.id}}
          @label="Id"
          @edition={{false}}
        />
      {{/unless}}
    </form>
  </div>
  <div class="ui vertical compact labeled icon menu challenge-menu">
    {{#if this.edition}}
      <button class="ui button item important-action" {{on "click" this.save}} type="button">
        <i class="save icon"></i>
        Enregistrer
      </button>
      <button class="ui button item" {{on "click" this.cancelEdit}} type="button">
        <i class="ban icon"></i>
        Annuler
      </button>
    {{else}}
      <a class="ui button item" href={{this.previewUrl}} target="_blank" rel="noopener noreferrer">
        <i class="eye icon"></i>
        Prévisualiser
      </a>
      <Buttons::CopyLink @link={{this.previewUrl}} />
      <LinkTo @route={{this.challengeRoute}} @models={{this.challengeModels}} class="ui button item">
        <i class="globe icon"></i>
        Version originale
      </LinkTo>
      {{#if this.mayEdit}}
        <button class="ui button item" {{on "click" this.edit}} type="button">
          <i class="edit icon"></i>
          Modifier
        </button>
      {{/if}}
      {{#if this.mayChangeStatus}}
        <button class="ui button item" {{on "click" this.editStatus}} type="button">
          <i class="{{this.changeStatusButtonIcon}} icon"></i>
          {{this.changeStatusButtonText}}
        </button>
      {{/if}}
    {{/if}}
  </div>
  <PopIn::Confirm
    @title={{this.confirmTitle}}
    @content={{this.confirmContent}}
    @onApprove={{this.confirmApprove}}
    @onDeny={{this.confirmDeny}}
    @showModal={{this.displayConfirm}}
    data-testid='change-status-confirm-popin'
  />
  <PopIn::Image
    @imageSrc={{this.model.illustration.url}}
    @close={{this.closeIllustration}}
    @showModal={{this.displayIllustration}}
    data-testid='display-illustration-pop-in'
  />
</div>