<button
  class="ui button right item"
  {{on "click" this.generateAlternatives}}
  type="button"
>
  <i class="magic icon" data-test-new-alternative-action></i>
  Générer
</button>

<PixModal
  class="alternative-generation__modal"
  @title="Nouvelles déclinaisons"
  @showModal={{this.showModal}}
  @onCloseButtonClick={{this.toggleModal}}
>
  <:content>
    {{#if this.isLoading}}
      <div class="ui dimmer inverted active" style="position: relative;">
        <div class="ui loader"></div>
      </div>
    {{else}}
      <div class="alternative-generation__instruction ui form">
        <Field::Mde @title="Consigne Initiale" @value={{@instruction}} />
      </div>
      <hr class="alternative-generation__separator" />
      <div class="alternative-generation__alternatives">
        {{#each this.alternatives as |alternative index|}}
          <div class="alternative-generation__item">
            <PixCheckbox
              @id="checkbox-alternative-{{index}}"
              @checked={{alternative.checked}}
              {{on "change" (fn this.toggleRewording index)}}
            />
            <PixTextarea
              @id="alternative-{{index}}"
              @value={{alternative.name}}
              class={{if
                alternative.checked
                "alternative-generation__item--selected"
              }}
            >
              <:label>{{alternative.label}}</:label>
            </PixTextarea>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </:content>
  <:footer>
    <PixButton
      @size="small"
      @isBorderVisible={{true}}
      @backgroundColor="transparent-light"
      @triggerAction={{this.toggleModal}}
    >
      Annuler
    </PixButton>
    <PixButton
      @size="small"
      @isDisabled={{eq this.selectedAlternativeCount 0}}
      @backgroundColor="blue"
    >Accepter les
      {{this.selectedAlternativeCount}}
      déclinaison(s)</PixButton>
  </:footer>
</PixModal>