<button class="ui button item" {{on "click" this.reword}} type="button">
  <i class="book icon"></i>
  Reformuler
</button>

<PixModal
  class="challenge-reword__modal"
  @title="Liste de déclinaisons possibles"
  @showModal={{this.showModal}}
  @onCloseButtonClick={{this.toggleModal}}
>
  <:content>
    {{#if this.isLoading}}
      <div class="ui dimmer inverted active" style="position: relative;">
        <div class="ui loader"></div>
      </div>
    {{else}}
      <div class="challenge-reword__initial-instruction ui form">
        <Field::Mde @title="Consigne Initiale" @value={{@instruction}} />
      </div>
      <hr class="challenge-reword__separator" />
      <div class="challenge-reword__rewordings">
        {{#each this.rewordings as |rewording index|}}
          <div class="challenge-reword__rewording-item">
            <PixCheckbox
              @id="checkbox-rewording-{{index}}"
              @checked={{rewording.checked}}
              {{on "change" (fn this.toggleRewording index)}}
            />
            <PixTextarea @id="rewording-{{index}}" @value={{rewording.name}}>
              <:label>Reformulation {{index}}</:label>
            </PixTextarea>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </:content>
  <:footer>
    <PixButton
      @variant="secondary"
      @isBorderVisible={{true}}
      @triggerAction={{this.toggleModal}}
    >
      Annuler
    </PixButton>
    <PixButton>Valider</PixButton>
  </:footer>
</PixModal>