<button class="ui button item" {{on "click" this.reword}} type="button">
  <i class="book icon"></i>
  Reformuler
</button>

<PixModal
  @title="Liste de déclinaisons possibles"
  @showModal={{this.showModal}}
  @onCloseButtonClick={{this.toggleModal}}
>
  <:content>
    <Field::Mde @title="Consigne Initiale" @value={{@instruction}} />
    {{#if this.isLoading}}
      <div class="ui dimmer inverted active" style="position: relative;">
        <div class="ui loader"></div>
      </div>
    {{else}}
      {{#each this.rewordings as |rewording index|}}
        <PixTextarea @id="rewording-{{index}}" @value={{rewording}}>
          <:label>Reformulation {{index}}</:label>
        </PixTextarea>
      {{/each}}
    {{/if}}

  </:content>
  <:footer>
    <PixButton
      @variant="secondary"
      @isBorderVisible={{true}}
      @triggerAction={{this.toggleModal}}
    >
      Annuler
    </PixButton>
    <PixButton>Valider</PixButton>
  </:footer>
</PixModal>