<button class="ui button item" {{on "click" this.reword}} type="button">
  <i class="book icon"></i>
  Reformuler
</button>

<PixModal
  @title="Liste de déclinaisons possibles"
  @showModal={{this.showModal}}
  @onCloseButtonClick={{this.toggleModal}}
>
  <:content>
    {{#if this.isLoading}}
      <div class="ui dimmer inverted active" style="position: relative;">
        <div class="ui loader"></div>
      </div>
    {{else}}
      <p>
        Une fenêtre modale est, dans une interface graphique, une fenêtre qui
        prend le contrôle total du clavier et de l'écran. Elle est en général
        associée à une question à laquelle il est impératif que l'utilisateur
        réponde avant de poursuivre, ou de modifier quoi que ce soit. La fenêtre
        modale a pour propos : d'obtenir des informations de l'utilisateur (ces
        informations sont nécessaires pour réaliser une opération) ; de fournir
        une information à l'utilisateur (ce dernier doit en prendre connaissance
        avant de pouvoir continuer à utiliser l'application).
      </p>
    {{/if}}
  </:content>
  <:footer>
    <PixButton
      @variant="secondary"
      @isBorderVisible={{true}}
      @triggerAction={{this.toggleModal}}
    >
      Annuler
    </PixButton>
    <PixButton>Valider</PixButton>
  </:footer>
</PixModal>