<div class="{{concat "ui checkbox" (if @toggle " toggle" "")}}" ...attributes>
  <Input id={{this.elementId}} @type="checkbox" @checked={{@checked}} @disabled={{@disabled}}/>
  <label for={{this.elementId}} >
    {{@label}}
  </label>
</div>
