<div class="field" ...attributes>
  {{#if (or @value.length @edition)}}
    <label>{{@title}}</label>
  {{/if}}
  {{#if @value.length}}
    {{#each @value as |file|}}
      <a href={{file.url}} download={{file.filename}} target="_blank" rel="noopener noreferrer"><i class="file icon"></i> {{file.filename}}</a>
      {{#if @edition}}
        <button {{on "click" (fn this.remove file)}} class="ui button file-remove" data-test-delete-attachment-button type="button"><i class="remove icon"></i></button>
      {{/if}}
    {{/each}}
  {{/if}}
  {{#if @edition}}
    {{#let (file-queue name="files" onFileAdded=this.add) as |queue|}}
      <label>
        Ajouter un fichier...
        <input type="file" {{queue.selectFile}}>
      </label>
    {{/let}}
    {{#if @value.length}}
      <div class="ui input">
          <label class="label-input" for="name">Nom :</label>
          <Input id="name" @value={{@baseName}} />
      </div>
    {{/if}}
  {{/if}}
</div>
