<div class="field" ...attributes>
  {{#if (or @value.length @edition)}}
    <label>{{@title}}</label>
  {{/if}}
  {{#if @value.length}}
    {{#each @value as |file|}}
      <a href={{file.url}} download={{file.filename}} target="_blank" rel="noopener noreferrer"><i class="file icon"></i> {{file.filename}}</a>
      {{#if @edition}}
        <button {{on "click" (fn this.remove file)}} class="ui button file-remove" data-test-delete-attachment-button type="button"><i class="remove icon"></i></button>
      {{/if}}
    {{/each}}
  {{/if}}
  {{#if @edition}}
    <FileUpload @name="files" @onfileadd={{this.add}}>
      {{!-- template-lint-disable link-href-attributes  --}}
      <a class="ui button">
        Ajouter un fichier...
      </a>
      {{!-- template-lint-enable link-href-attributes  --}}
    </FileUpload>
    {{#if @value.length}}
      <div class="ui input">
          <div class="label-input">Nom :</div>
          <Input @value={{@baseName}} />
      </div>
    {{/if}}
  {{/if}}
</div>
