<div class="field" ...attributes>
  {{#if (or @value @edition)}}
    <h3 class="field-title">{{@title}}</h3>
  {{/if}}
  {{#if @value}}
    {{#if @value.url}}
      <img src={{@value.url}} alt="" class="clickable" {{on "click" @display}} role="presentation">
    {{else}}
      {{@value.file.name}} ({{@value.file.size}} octets)
    {{/if}}
    {{#if @edition}}
      <button {{on "click" this.remove}} class="ui button file-remove" type="button"><i class="remove icon" data-test-delete-illustration-button></i></button>
    {{/if}}
  {{/if}}
  {{#if @edition}}
    {{#let (file-queue name="illustration" onFileAdded=this.add) as |queue|}}
      <label>
        Choisir une image...
        <input type="file" accept="image/*" {{queue.selectFile}}>
      </label>
    {{/let}}
  {{/if}}
</div>
