<div class="field" ...attributes>
  {{#if (or @value @edition)}}
    <label>{{@title}}</label>
  {{/if}}
  {{#if @value}}
    {{#if @value.url}}
      <img src={{@value.url}} alt="" class="clickable" {{on "click" @display}} role="presentation">
    {{else}}
      {{@value.file.name}} ({{@value.file.size}} octets)
    {{/if}}
    {{#if @edition}}
      <button {{on "click" this.remove}} class="ui button file-remove" type="button"><i class="remove icon" data-test-delete-illustration-button></i></button>
    {{/if}}
  {{/if}}
  {{#if @edition}}
    <FileUpload @name="illustration" @accept="image/*" @onfileadd={{this.add}}>
    {{!-- template-lint-disable link-href-attributes  --}}
      <a class="ui button">
        Choisir une image...
      </a>
    {{!-- template-lint-enable link-href-attributes  --}}
    </FileUpload>
  {{/if}}
</div>
