<div class={{concat "field" (if @edition "" " disabled")}} ...attributes>
  <p>{{@title}}</p>
  <div class="ui input">
    {{#if @label}}
      <label class="label-input" for="input" >{{@label}} : </label>
    {{/if}}
    <Input id="input" @value={{@value}} placeholder={{@placeholder}} readonly={{not @edition}} />
  </div>
</div>
