<div class={{concat "field textArea mde" (if this.maximized " maximized" "")}} ...attributes>
  <label>
    {{#if @edition}}
      <button {{on "click" this.toggleMaximized}} class={{concat "ui compact icon right floated button" (if this.maximized " primary" " basic")}} type="button"><i class={{concat (if this.maximized "compress " "expand ")  "icon"}}></i></button>
      {{#if @helpContent}}
        <div class="ui compact icon right floated button basic">
          <i class="help icon">
            <EmberTooltip @side="left-start" @tooltipClass="custom-tooltip">
              {{this.safeHelpContent}}
            </EmberTooltip>
          </i>
        </div>
      {{/if}}
    {{/if}}
    {{@title}}
  </label>
  {{#if @edition}}
    <TuiEditor data-test-tui-editor @value={{@value}} @onChange={{@setValue}} @usageStatistics={{false}} />
  {{else}}
    <div data-test-markdow-to-html class="mde-preview">
      <MarkdownToHtml @markdown={{@value}} />
    </div>
  {{/if}}
</div>
