<div class="field">
  <label>
    {{#if @edition}}
      {{#if @helpContent}}
        <div class="ui compact icon right floated button basic">
          <i class="help icon">
            <EmberTooltip @side="left-start" @tooltipClass="custom-tooltip">
              {{this.safeHelpContent}}
            </EmberTooltip>
          </i>
        </div>
      {{/if}}
    {{/if}}
    {{@title}}
  </label>
  {{#if @edition}}
    <TuiEditor @value={{@value}} @onChange={{@setValue}} />
  {{else}}
    <div class="mde-preview">
      {{this.previewContent}}
    </div>
  {{/if}}
</div>
