<div class={{concat "field textArea" (if @edition "" " disabled") (if this.maximized " maximized" "")}}>
    <label>
        {{#if @edition}}
            <button {{on "click" this.toggleMaximized}} class={{concat "ui compact icon right floated button" (if this.maximized " primary" " basic")}} type="button"><i class={{concat (if this.maximized "compress " "expand ")  "icon"}}></i></button>
            {{#if @helpContent}}
            <div class="ui compact icon right floated button basic">
              <i class="help icon">
                <EmberTooltip @side="left-start" @tooltipClass="custom-tooltip">
                  {{this.safeHelpContent}}
                </EmberTooltip>
              </i>
            </div>
            {{/if}}
        {{/if}}
        {{@title}}
    </label>
    <Textarea @value={{@value}} @rows="4" @readonly={{not @edition}} class="attached" />
</div>
