<div class="field {{if this.edition "" " disabled"}}">
  <label>
    {{@title}}
  </label>
  {{#if @edition}}
    <PowerSelect
      @searchEnabled={{true}}
      @search={{this.getSearchTutorialResults}}
      @placeholder="commencer la recherche par > pour rechercher par Tag"
      @onChange={{this.addTutorial}}
      @dropdownClass={{concat "search-result  search-tuto-" this.searchClass}}
      @triggerComponent="power-select/custom-trigger"
      @searchMessage=""
      @searchPlaceholder="Rechercher..."
      @loadingMessage="Recherche en cours..." as |result|>
      <div class="search-title">
        {{#if (eq this.repo.id "create")}}
          {{result.title}} <i class="add icon"></i>
        {{else}}
          {{result.title}}
        {{/if}}
      </div>
      <div class="search-description">
        {{#if result.description}}
          {{result.description}}
        {{/if}}
      </div>
    </PowerSelect>
  {{/if}}

</div>
<div class="field">
  {{#if @tutorials.isPending}}
    <div class="ui active centered inline loader"></div>
  {{else}}
    <div class="ui cards">
      {{#each @tutorials as |tutorial|}}
        <div class="card">
          <div class="content">
            <div class="header">
              {{#if @edition}}
                <div {{on "click" (fn @removeTutorial tutorial)}} class="ui right floated icon button">
                  <i class="close icon"></i>
                </div>
              {{/if}}
              <a class="ui right floated button basic" href={{tutorial.link}} target="_blank"
                 rel="noreferrer noopener">
                <i class="external icon"></i>
              </a>
              {{tutorial.title}}
            </div>
            <div class="description">
              <div>Format : {{tutorial.format}}</div>
              <div>Durée : {{tutorial.duration}}</div>
              <div>Source : {{tutorial.source}}
                {{#if tutorial.crush}}
                  <div class="ui right floated">
                    <i class="red heart icon"></i>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="card">
          <div class="content">
            aucun élément
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
{{#if this.displayTutorialPopin}}
  <PopIn::Tutorial @tutorial={{this.newTutorial}} @close={{this.closeTutorialPopin}} @saveTutorial={{this.saveTutorial}}/>
{{/if}}
