<div class="skill-header {{this.skill.descriptionCSS}}">
  <div class="ui menu">
    <div class="ui left menu">
      {{#if this.mayMove}}
        <button class="ui icon button" {{on "click" this.moveSkill}} type="button"><i class="icon random"></i></button>
      {{/if}}
    </div>
    <div class="item header">{{this.skill.name}}</div>
    <div class="ui right menu">
      {{#if this.maximized}}
        <button class="ui icon button" {{on "click" this.minimize}} type="button"><i class="window minimize icon"></i></button>
      {{else}}
        <button class="ui icon button" {{on "click" this.maximize}} type="button"><i class="window maximize outline icon"></i></button>
      {{/if}}
      <button class="ui icon button" {{on "click" this.close}} type="button"><i class="icon window close"></i></button>
    </div>
  </div>
</div>
<div class="skill-details">
  <div class="skill-data">
    <Form::Skill @skill={{this.skill}} @edition={{this.edition}} />
  </div>
  <div class="ui vertical compact labeled icon menu skill-menu">
    {{#if this.edition}}
      <button class="ui button important-action item" {{on "click" this.save}} type="button">
        <i class="save icon"></i>
        Enregistrer
      </button>
      <button class="ui button item" {{on "click" this.cancelEdit}} type="button">
        <i class="ban icon"></i>
        Annuler
      </button>
    {{else}}
      {{#if this.skill.productionTemplate}}
        <button class="ui button item" {{on "click" this.previewTemplate}} type="button">
          <i class="eye icon"></i>
          Prévisualiser
        </button>
      {{/if}}
      {{#if this.mayEdit}}
        <button class="ui button item" {{on "click" this.edit}} type="button">
          <i class="edit icon"></i>
          Modifier
        </button>
      {{/if}}
      {{#if this.mayAccessAirtable}}
        <button class="ui button item" {{on "click" this.openAirtable}} type="button">
          <i class="table icon"></i>
          Airtable
        </button>
      {{/if}}
    {{/if}}
  </div>
</div>
{{#if this.displaySelectLocation}}
<PopIn::SelectLocation
  @onChange={{this.setLocation}}
  @name={{this.skillName}}
  @selectTubeLevel={{true}}
  @tube={{this.skill.tube}}
  @level={{this.skill.level}}
  @selectEmptyLevels={{true}}
  @close={{this.closeSelectLocation}}
  />
{{/if}}
