<div class={{concat "challenge-header " this.challenge.statusCSS}}>
  <div class="ui menu">
      <div class="ui left menu">
    {{#if this.mayAccessLog}}
        <button class="ui button icon item" {{on "click" this.challengeLog}} type="button"><i class="icon window chat"></i></button>
    {{/if}}
    {{#unless this.edition}}
      {{#if (and this.challenge.isPrototype (not this.challenge.isWorkbench))}}
          <button class="ui button icon item" {{on "click" this.showVersions}} type="button"><i class="clone icon"></i>&nbsp;v{{this.challenge.version}}</button>
      {{/if}}
      {{#if (or this.mayValidate this.mayArchive this.mayObsolete)}}
        <BasicDropdown @id="testdd" @renderInPlace={{true}} @class="icon ui dropdown " @horizontalPosition="left" as |dd|>
          <dd.Trigger><button class="ui icon button item" type="button"><i class="bolt icon"></i></button></dd.Trigger>
          <dd.Content @class="dropdown-content dropdown-content-challenge slide-fade">
              {{#if this.mayValidate}}
                <button class="ui button validate item"  {{on "click" (fn this.validate dd)}} type="button">
                  <i class="checkmark icon"></i>
                  {{t 'common.validate'}}
                </button>
              {{/if}}
              {{#if this.mayArchive}}
                <button class="ui button archive item"  {{on "click" (fn this.archive dd)}} type="button">
                  <i class="archive icon"></i>
                  {{t 'competence.prototypes.archive'}}
                </button>
              {{/if}}
              {{#if this.mayObsolete}}
              <button class="ui button archive item"  {{on "click" (fn this.obsolete dd)}} type="button">
                  <i class="trash alternate icon"></i>
                  {{t 'competence.prototypes.obsolete'}}
                </button>
              {{/if}}
          </dd.Content>
        </BasicDropdown>
      {{/if}}
      {{#if this.mayMove}}
        <button data-test-move-button class="ui icon button item" {{on "click" this.movePrototype}} type="button"><i class="icon random"></i></button>
      {{/if}}
    {{/unless}}
      </div>
    <div class={{concat "item header" (if this.creation " creation" "")}}>
      {{this.challengeTitle}}
      <div class="ui circular label {{this.challenge.statusCSS}}">{{this.challenge.status}}</div>
      {{#unless this.challenge.isNew}}
        <time class="ui colored label" title="Dernière modification" datetime="{{this.lastUpdatedAtISO}}">{{format-date this.challenge.updatedAt}}</time>
      {{/unless}}
    </div>
    <div class="ui right menu">
      {{#if this.maximized}}
        <button class="ui icon button item" {{on "click" this.minimize}} type="button"><i class="window minimize icon"></i></button>
      {{else}}
        <button class="ui icon button item" {{on "click" this.maximize}} type="button"><i class="window maximize outline icon"></i></button>
      {{/if}}
      <button class="ui icon button item" {{on "click" this.close}} type="button"><i class="icon window close"></i></button>
    </div>
  </div>
</div>
<div class="challenge">
  <div class="challenge-data {{this.elementClass}}" {{scroll-top this.edition}}>
    <Form::Challenge @challenge={{this.challenge}}
                     @showIllustration={{this.showIllustration}}
                     @edition={{this.edition}}
                     @displayAlternativeInstructionsField={{this.displayAlternativeInstructionsField}}
                     @setDisplayAlternativeInstructionsField={{this.setDisplayAlternativeInstructionsField}}
                     @displaySolutionToDisplayField={{this.displaySolutionToDisplayField}}
                     @setDisplaySolutionToDisplayField={{this.setDisplaySolutionToDisplayField}}/>
    {{#if this.copyOperation}}
      <Field::Copy @value={{this.challenge.preview}} @onCopied={{this.linkCopied}}/>
    {{/if}}
  </div>
<div class="ui vertical compact labeled icon menu challenge-menu">
  {{#if this.edition}}
    <button data-test-save-challenge-button class="ui button item important-action" {{on "click" this.save}} type="button">
      <i class="save icon"></i>
      Enregistrer
    </button>
    <button data-test-cancel-challenge-button class="ui button item" {{on "click" this.cancelEdit}} type="button">
      <i class="ban icon"></i>
      Annuler
    </button>
  {{else}}
    <a class="ui button item" href={{this.previewUrl}} target="_blank" rel="noopener noreferrer">
      <i class="eye icon"></i>
      Prévisualiser
    </a>
    {{#if this.mayEdit}}
      <button data-test-modify-challenge-button class="ui button item" {{on "click" this.edit}} type="button">
        <i class="edit icon"></i>
        Modifier
      </button>
    {{/if}}
    {{#if this.mayDuplicate}}
      <button class="ui button item" {{on "click" this.duplicate}} type="button">
        <i class="copy icon"></i>
        Dupliquer
      </button>
    {{/if}}
    {{#if this.mayAccessAirtable}}
      <a class="ui button item" href={{this.airtableUrl}} target="_blank" rel="noopener noreferrer">
        <i class="table icon"></i>
        Airtable
      </a>
    {{/if}}
    <button class="ui button item" {{on "click" this.copyLink}} type="button">
      <i class="linkify icon"></i>
      Copier lien
    </button>
    {{#if this.mayAccessAlternatives}}
      <button class="ui button item alternatives"  {{on "click" this.showAlternatives}} type="button">
        <i class="cubes icon"></i>
        Déclinaisons &gt;&gt;
      </button>
    {{/if}}
  {{/if}}
</div>
</div>
{{#if this.displayChallengeLog}}
  <PopIn::ChallengeLog
    @challenge={{this.challenge}}
    @close={{this.closeChallengeLog}} />
{{/if}}
{{#if this.displayImage}}
  <PopIn::Image
    @src={{this.popinImageSrc}}
    @close={{this.closeIllustration}}/>
{{/if}}
{{#if this.displayChangeLog}}
  <PopIn::Changelog
          @onApprove={{this.changelogApprove}}
          @defaultValue={{this.changelogDefault}} />
{{/if}}
{{#if this.displayConfirmLog}}
  <PopIn::ConfirmLog
    @title={{t 'common.confirm-log.save'}}
    @onApprove={{this.saveChallengeCallback}}
    @defaultValue={{this.defaultSaveChangelog}}
    @inputId="changelog-message"
    @onDeny={{this.closeComfirmLogPopin}}
    @content={{t 'common.confirm-log.content'}}
    @label={{t 'common.confirm-log.label'}}
  />
{{/if}}
{{#if this.mayMove}}
  {{#if this.displaySelectLocation}}
    <PopIn::SelectLocation
      @onChange={{this.setSkill}}
      @title="Acquis du prototype"
      @selectTubeLevel={{true}}
      @isPrototypeLocation={{true}}
      @tube={{this.challenge.skill.tube}}
      @skill={{this.challenge.skill}}
      @multipleLevel={{true}}
      @close={{this.closeMovePrototype}} />
  {{/if}}
{{/if}}
{{outlet}}
