<div class='{{this.listType}}'>
  <EmberTable as |t|>
    <t.head @columns={{this.headers}} @widthConstraint={{'eq-container'}} @resizeMode={{'fluid'}}/>
    <t.body @rows={{this.sortedList}} @rowSelectionMode={{'single'}} @checkboxSelectionMode={{'none'}} @onSelect={{this.selectRow}} as |b|>
      <b.row as |r|>
        <r.cell class="{{if r.columnValue.style r.rowValue.statusCSS}}" as |value|>
          {{value}}
        </r.cell>
      </b.row>
    </t.body>
  </EmberTable>
</div>