<div class="main-left competence-management">
  <div class="ui main-title">
    {{#if this.creation}}
      <h1 class="ui left floated header">Nouvelle compétence {{this.competence.code}}</h1>
    {{else}}
      <h1 class="ui left floated header">{{this.competence.name}}</h1>
    {{/if}}
  </div>
  <div class="competence-management__details">
    <div class="competence-management__data">
      <form action="" class="ui form">
        <Field::Input data-test-competence-title-input @value={{this.competence.title}} @edition={{this.edition}} @label="Titre"/>
        <Field::Textarea @title="Description :" @value={{this.competence.description}} @edition={{this.edition}} />
        <div class="ui raised segment">
          {{!-- TODO --}}
          <i class="flag gb uk"></i>
          <Field::Input @value={{this.competence.titleEn}} @edition={{this.edition}} @label="Titre (en)"/>
          <Field::Textarea @title="Description (en) :" @value={{this.competence.descriptionEn}} @edition={{this.edition}} />
        </div>
        {{#unless this.edition}}
          <Field::Input @value={{this.competence.pixId}} @title="Id" @edition={{false}} />
        {{/unless}}
      </form>
    </div>
    <div class="ui vertical compact labeled icon menu competence-management__menu">
      {{#if this.mayEdit}}
        <PixButton
          @triggerAction={{this.edit}}
          @backgroundColor="transparent-light"
          @iconBefore="pen-to-square"
          @prefixIconBefore="fas"
        >
          Modifier
        </PixButton>
      {{/if}}
      {{#if this.edition}}
        <PixButton
          @triggerAction={{this.save}}
          @backgroundColor="transparent-light"
          @iconBefore="floppy-disk"
          @prefixIconBefore="fas"
        >
          Enregistrer
        </PixButton>
        <PixButton
          @triggerAction={{this.cancelEdit}}
          @backgroundColor="transparent-light"
          @iconBefore="ban"
          @prefixIconBefore="fas"
        >
          Annuler
        </PixButton>
      {{/if}}
    </div>
  </div>
</div>
