<div class="main-left competence-management">
  <div class="ui main-title">
    {{#if this.creation}}
      <h1 class="ui left floated header">Nouvelle compétence {{this.competence.code}}</h1>
    {{else}}
      <h1 class="ui left floated header">{{this.competence.name}}</h1>
    {{/if}}
  </div>
  <div class="competence-management__details">
    <div class="competence-management__data">
      <form action="" class="ui form">
        <Field::Input
          data-test-competence-title-input
          @value={{this.competence.title}}
          @edition={{this.edition}}
          @label="Titre"
          @id="competence-title-fr"
        />
        <Field::Textarea
          @title="Description :"
          @value={{this.competence.description}}
          @edition={{this.edition}}
          @id="competence-description-fr"
        />
        <div class="ui raised segment">
          <i class="flag gb uk"></i>
          <Field::Input
            @value={{this.competence.titleEn}}
            @edition={{this.edition}}
            @label="Titre (en)"
            @id="competence-title-en"
          />
          <Field::Textarea
            @title="Description (en) :"
            @value={{this.competence.descriptionEn}}
            @edition={{this.edition}}
            @id="competence-description-en"
          />
        </div>
        {{#unless this.edition}}
          <Field::Input @value={{this.competence.pixId}} @title="Id" @edition={{false}} />
        {{/unless}}
      </form>
    </div>
    <div class="ui vertical compact labeled icon menu competence-management__menu">
      {{#if this.mayEdit}}
        <button data-test-edit-button class="ui button item" {{on "click" this.edit}} type="button">
          <i class="edit icon"></i>
          Modifier
        </button>
      {{/if}}
      {{#if this.edition}}
        <button data-test-save-button class="ui button item important-action" {{on "click" this.save}} type="button">
          <i class="save icon"></i>
          Enregistrer
        </button>
        <button data-test-cancel-button class="ui button item" {{on "click" this.cancelEdit}} type="button">
          <i class="ban icon"></i>
          Annuler
        </button>
      {{/if}}
    </div>
  </div>
</div>
