<div class={{concat "field" (if this.edition "" " disabled")}}>
  <label>{{this.title}}</label>
  <div class="ui input">
    {{#if this.label}}
      <div class="label-input">{{this.label}} : </div>
    {{/if}}
    <Input @value={{this.value}} @readonly={{not this.edition}} />
  </div>
</div>
