<div class="ui inverted left wide sidebar {{if @open "visible "}}main-sidebar menu vertical {{if this.config.lite "lite" ""}}">
  <h1 class="header">Pix Editor</h1>
  <p class="legal-mention" style="margin: 0;">Confidentiel - secret - ne pas divulguer</p>
  <Sidebar::Search @close={{@close}} />
  <Sidebar::Navigation @areas={{this.areas}} @close={{@close}}/>
  <div class="secondary-links">
    <LinkTo @route="target-profile"  @invokeAction={{@close}}>
      <i class="crosshairs icon"></i> Générateur de profil cible
    </LinkTo>
    <Sidebar::Export @areas={{this.areas}}/>
    <LinkTo @route="statistics"  @invokeAction={{@close}}>
      <i class="chart bar icon"></i> Statistiques
    </LinkTo>
    <div class="secondary-links">
      <LinkTo @route="events-log"><i class="book icon"></i> Journal</LinkTo>
    </div>
  </div>
  <div class="ui labelled icon menu">
    <button class="ui button item" type="button" {{on "click" @openLogout}}><i class="logout icon"></i>Déconnexion</button>
    <div class="right item">
      {{#if this.author}}
        {{this.author}} -
      {{/if}}
      Version {{this.version}}</div>
  </div>
</div>
