{{#if @displayFrameworkList}}
  <Field::Select data-test-frameworks-select id="select-framework" @value={{this.selectedFramework}} @options={{this.frameworkList}} @setValue={{this.setFramework}} @edition={{true}}/>
{{/if}}
<AccordionList as |accordion|>
    {{#each this.areas as |area|}}
      <accordion.item as |accordionItem|>
        <accordionItem.header data-test-area-item @class="title">
          <i class="dropdown icon"></i>
          <span>{{area.name}}</span>
        </accordionItem.header>
        <accordionItem.panel>
          <div class="content">
            {{#each area.sortedCompetences as |competence|}}
              <LinkTo
                data-test-competence-item
                @route="authenticated.competence"
                @model={{competence.id}}
                class="item"
                @query={{hash leftMaximized=false}}
                {{on "click" @close}}
              >
                {{competence.name}}
              </LinkTo>
            {{/each}}
            {{#if this.mayCreateCompetence}}
              <LinkTo
                data-test-add-competence
                @route="authenticated.competence-management.new"
                @model={{area.id}}
                class="item"
                {{on "click" @close}}
              >
                <i class="plus square icon"></i>Ajouter une compétence
              </LinkTo>
            {{/if}}
          </div>
        </accordionItem.panel>
      </accordion.item>
    {{/each}}
    {{#if this.mayCreateArea}}
      <LinkTo data-test-add-area @route="authenticated.area-management.new" @model={{this.framework.id}} class="item" {{on "click" @close}}><i class="plus square icon"></i>Ajouter un domaine</LinkTo>
    {{/if}}
</AccordionList>
<PopIn::NewFramework
  @framework={{this.newFramework}}
  @close={{this.closeNewFrameworkPopIn}}
  @save={{this.saveFramework}}
  @showModal={{this.displayNewFrameworkPopIn}}
/>
