<Field::Select data-test-frameworks-select id="select-framework" @value={{this.selectedFramework}} @options={{this.frameworkList}} @setValue={{this.setFramework}} @edition={{true}}/>
<AccordionList as |accordion|>
  <div class="ui accordion inverted">
    {{#each this.areas as |area|}}
      <accordion.item as |accordionItem|>
        <accordionItem.toggle data-test-area-item @class="title">
          <i class="dropdown icon"></i>
          <span>{{area.name}}</span>
        </accordionItem.toggle>
        <accordionItem.panel>
          <div class="content">
            {{#each area.sortedCompetences as |competence|}}
              <LinkTo data-test-competence-item @route="competence" @model={{competence.id}} class="item" @invokeAction={{@close}}> {{competence.name}}</LinkTo>
            {{/each}}
            {{#if this.mayCreateCompetence}}
              <LinkTo data-test-add-competence @route="competence-management.new" @model={{area.id}} class="item" @invokeAction={{@close}}><i class="plus square icon"></i>Ajouter une compétence</LinkTo>
            {{/if}}
          </div>
        </accordionItem.panel>
      </accordion.item>
    {{/each}}
    {{#if this.mayCreateArea}}
      <LinkTo data-test-add-area @route="area-management.new" @model={{this.framework.id}} class="item" @invokeAction={{@close}}><i class="plus square icon"></i>Ajouter un domaine</LinkTo>
    {{/if}}
  </div>
</AccordionList>
{{#if this.displayNewFrameworkPopIn}}
  <PopIn::NewFramework @framework={{this.newFramework}} @close={{this.closeNewFrameworkPopIn}} @save={{this.saveFramework}}/>
{{/if}}
