<Field::Select @value={{this.source}} @options={{this.sources}} @setValue={{this.setSource}} @edition={{true}}/>
<AccordionList as |accordion|>
  <div class="ui accordion inverted">
    {{#each this.areas as |area|}}
      <accordion.item as |accordionItem|>
        <accordionItem.toggle data-test-area-item @class="title">
          <i class="dropdown icon"></i>
          {{area.name}}
        </accordionItem.toggle>
        <accordionItem.panel>
          <div class="content">
            {{#each area.sortedCompetences as |competence|}}
              <LinkTo data-test-competence-item @route="competence" @model={{competence.id}} class="item" @invokeAction={{@close}}> {{competence.name}}</LinkTo>
            {{/each}}
          </div>
        </accordionItem.panel>
      </accordion.item>
    {{/each}}
  </div>
</AccordionList>
