  <div data-test-sidebar-search class="sidebar-search">
    <PowerSelect
      @searchEnabled={{true}}
      @search={{this.getSearchResults}}
      @placeholder="Acquix ou recordId"
      @onChange={{this.linkTo}}
      @renderInPlace={{true}}
      @triggerComponent={{ component "power-select/custom-trigger" }}
      @searchMessage=""
      @searchPlaceholder="Rechercher..."
      @loadingMessage="Recherche en cours..."
      @noMatchesMessage="Pas de résultat" as |result|>
      {{#if result.isSkill}}
        {{result.title}} v{{result.version}}<span class="skill-result-status {{result.statusCSS}}" title={{result.status}}></span>
      {{else}}
        {{result.title}}
      {{/if}}
    </PowerSelect>
  </div>
