<div class="main-title">
  <h1>
  <div class="ui right floated menu">
    {{#link-to "competence.challenge" competence challenge class="ui icon item"}}<i class="icon window close"></i>{{/link-to}}
  </div>
      Déclinaisons de {{challenge.skillNames}}

  </h1>
</div>
<div class="ui top attached borderless labelled icon menu {{listHidden}}">
{{#if challenge.skills}}
  <a class="left item" onclick={{action "newAlternative"}}>
    <i class="plus square outline icon"></i> Nouvelle déclinaison
  </a>
{{/if}}
</div>
<div class="ui attached segment competence {{size}} {{listHidden}}">
  {{alternatives-list list=alternatives itemCount=challengeCount competenceModel=competence challengeModel=challenge hidden=false}}
</div>
<div class="ui borderless bottom attached labelled icon menu {{listHidden}}">
  <div class="item competence-info"><div>En production : <span class="production">{{challenge.productionAlternativeCount}}</span></div><div>En aval : <span class="workbench">{{challenge.workbenchAlternativeCount}}</span></div></div>
</div>
{{outlet}}
