<PixModal
  @title={{@title}}
  @onCloseButtonClick={{@onDeny}}
  @showModal={{true}}
>
  <:content>
    <p>
      {{@content}}
    </p>
    <form class="ui form">
      <Field::Checkbox
        class="checkbox-layout"
        @label="Je veux ajouter une note de changelog"
        @checked={{this.displayTextarea}}
        data-test-confirm-log-check
      />
      {{#if this.displayTextarea}}
        <div class="changelog-layout">
          <label for={{this.inputId}} >
            {{@label}}
          </label>
          <Textarea id={{this.inputId}} @value={{this.defaultValue}} rows="4" class="changelog-textarea" />
        </div>
      {{/if}}
    </form>
  </:content>
  <:footer>
    <PixButton data-test-confirm-log-cancel
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{@onDeny}}
    >
      {{t 'common.cancel'}}
    </PixButton>
    <PixButton data-test-confirm-log-approve @triggerAction={{fn @onApprove this.changeLogValue}}>{{t 'common.validate'}}</PixButton>
  </:footer>
</PixModal>