<ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal">
  <div class="ui standard modal visible active">
    <div class="header">{{@title}}</div>
    <div class="content">
      {{@content}}
    <form class="ui form">
      <Field::Checkbox
        @label="Je veux ajouter une note de changelog"
        @checked={{this.displayTextarea}}
        data-test-confirm-log-check
      />
      {{#if this.displayTextarea}}
      <div class="changelog-layout">
       <label for={{this.inputId}} >
          {{@label}}
        </label>
        <Textarea id={{this.inputId}} @value={{this.defaultValue}} @rows="4" class="changelog-textarea"/>
        </div>
      {{/if}}
    </form>
    </div>
    <div class="actions">
      <button type="button" class="ui blue cancel button" {{on "click" @onDeny}} data-test-confirm-log-cancel>
        <i class="remove icon" ></i>
        {{t 'common.cancel'}}
      </button>
      <button type="button" class="ui green ok button" {{on "click" (fn @onApprove this.changeLogValue)}} data-test-confirm-log-approve>
        <i class="checkmark icon" ></i>
        {{t 'common.validate'}}
      </button>
    </div>
  </div>
</ModalDialog>