<PixModal
  @title="Créer un référentiel"
  @onCloseButtonClick={{@close}}
>
  <:content>
    <form action="" class="ui form" {{on "submit" this.saveOnSubmit}}>
      <Field::Input data-test-framework-name-input @value={{@framework.name}} @edition={{true}} @title="Nom"/>
    </form>
  </:content>
  <:footer>
    <PixButton @backgroundColor="transparent-light"
               @isBorderVisible={{true}}
               @triggerAction={{@close}}
    >
      Annuler
    </PixButton>
    <PixButton data-test-save-action
               @triggerAction={{@save}}
               @isDisabled={{this.hasEmptyMandatoryField}}
    >
      Enregistrer
      <i class="save icon"></i>
    </PixButton>
  </:footer>
</PixModal>
