<ModalDialog @targetAttachment="center"
             @overlayClassNames="custom-overlay-modal"
             @onClose={{this.closeModal}}
>
  <div
    class="ui modal visible active"
    role="dialog"
    aria-modal="true"
    aria-labelledby="pdf-entries-header"
  >
    <i class="close icon"
       aria-hidden="true"
       tabindex="0"
      {{on "click" this.closeModal}}
    ><span class="sr-only">Fermer la boite de dialogue</span></i>
    <h2 id="pdf-entries-header" class="header">
      Export PDF
    </h2>
    <div class="content">
      <form class="ui form" {{on "submit" this.validate}}>
        <div class="field">
          <Field::Input @title="Titre"
                        @value={{this.title}}
                        @edition={{true}}
                        data-test-pdf-title-field
          />
        </div>
        <div class="field">
          <Field::Select @title="Langue"
                         @value={{this.selectedLanguage}}
                         @options={{this.options.language}}
                         @edition={{true}}
                         @setValue={{this.setLanguage}}
                         data-test-pdf-language-field
          />
        </div>
      </form>
    </div>
    <div class="actions">
      <button type="button"
              class="ui deny button"
        {{on "click" this.closeModal}}
      >
        Annuler
      </button>
      <button type="submit"
              class="ui green button"
              data-test-validate-pdf-entries
        {{on "click" this.validate}}
      >
        <i class="checkmark icon"
           aria-hidden="true"
        ></i>
        Valider
      </button>
    </div>
  </div>
</ModalDialog>