<PixModal
  @title={{t 'target_profile.pdf_export.title'}}
  @onCloseButtonClick={{this.closeModal}}
  @showModal={{true}}
>
  <:content>
    <form class="ui form" {{on "submit" this.validate}}>
      <div class="field">
        <Field::Input @title={{t 'target_profile.pdf_export.field.title'}}
                      @value={{this.title}}
                      @edition={{true}}
                      data-test-pdf-title-field
        />
      </div>
      <div class="field">
        <Field::Select @title={{t 'target_profile.pdf_export.field.language'}}
                       @value={{this.selectedLanguage}}
                       @options={{this.options.language}}
                       @edition={{true}}
                       @setValue={{this.setLanguage}}
                       data-test-pdf-language-field
        />
      </div>
    </form>
  </:content>
  <:footer>
    <PixButton @backgroundColor="transparent-light"
               @isBorderVisible={{true}}
               @triggerAction={{this.closeModal}}
    >
      {{t 'common.cancel'}}
    </PixButton>
    <PixButton data-test-validate-pdf-entries
               @triggerAction={{this.validate}}
    >
      <i class="checkmark icon"
         aria-hidden="true"
      ></i>
      {{t 'common.validate'}}
    </PixButton>
  </:footer>
</PixModal>