<ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal" @onClose={{this.closeModal}}>
  <div class="ui standard modal visible active">
    <i class="close icon" {{on "click" this.closeModal}}></i>
    <div class="header">
      {{#if @title}}
        {{@title}}
      {{else}}
        Emplacement de {{@name}}
      {{/if}}
    </div>
    <div class="content">
      <form action="" class="ui form">
        <Field::Select @title="Référentiel" @value={{this.selectedSource}} @options={{this.sources}} @edition={{true}} @setValue={{this.selectSource}} />
        <Field::Select @title="Compétence" @value={{this.selectedCompetence}} @options={{this.competenceList}} @edition={{true}} @setValue={{this.selectCompetence}}/>
        {{#if @selectTubeLevel}}
          <Field::Select @title="Tube" @value={{this.selectedTube}} @options={{this.tubeList}} @edition={{true}} @setValue={{this.selectTube}}/>
          {{#if this.selectedTube}}
             {{#if @isPrototypeLocation}}
               <div data-test-skill-list class="field">
                 <label>Acquis</label>
                 <PowerSelect  @options={{this.skillsGroupByLevelList}} @searchEnabled={{false}} @selected={{this.selectedSKill}} @onChange={{this.selectSkill}} as |skill|>
                   <span class="skill-list">{{skill.pixId}} <span class="skill-list__status {{if (eq skill.status "actif") "active" "draft"}}" title={{skill.status}}></span></span>
                 </PowerSelect>
               </div>
             {{else}}
               <Field::Select @title="Niveau" @value={{this.selectedLevel}} @options={{this.selectLevelsOptions}} @edition={{true}} @setValue={{this.selectLevel}}/>
             {{/if}}
          {{/if}}
        {{/if}}
      </form>
    </div>
    <div class="actions">
      <div class="ui deny button" {{on "click" this.closeModal}}>
        Annuler
      </div>
      <div data-test-move-action class="ui green button {{unless this.enableMoveActionButton " disabled"}}" {{on "click" this.setLocation}}>
        <i class="checkmark icon"></i>
          {{this.titleButtonAction}}
      </div>
    </div>
  </div>
</ModalDialog>
