<PixModal
  @title={{@title}}
  @onCloseButtonClick={{this.closeModal}}
  @showModal={{true}}
>
  <:content>
    <label>{{@label}}</label>
    <Field::Input @value={{this.value}} @edition={{true}} />
  </:content>
  <:footer>
    <PixButton
      @backgroundColor="transparent-light"
      @isBorderVisible={{true}}
      @triggerAction={{this.closeModal}}
    >
      Annuler
    </PixButton>
    <PixButton @triggerAction={{this.validate}}>Valider</PixButton>
  </:footer>
</PixModal>