<PixModal data-test-sorting-pop-in-title
          @title={{@title}}
          @onCloseButtonClick={{fn @onDeny @model}}
>
  <:content>
    <div data-test-sorting-pop-in-content class="sortable-content">
      <ul {{sortable-group onChange=this.reorderItems}}>
        {{#each this.models as |modelItem|}}
          <li {{sortable-item model=modelItem}} {{sortable-handle}}>
            <i class="ellipsis vertical icon"></i><span>{{modelItem.name}}</span><i class="ellipsis vertical icon"></i>
          </li>
        {{/each}}
      </ul>
    </div>
  </:content>
  <:footer>
    <PixButton data-test-sorting-pop-in-deny
               @backgroundColor="transparent-light"
               @isBorderVisible={{true}}
               @triggerAction={{fn @onDeny @model}}
    >
      <i class="remove icon" ></i>
      {{t 'common.cancel'}}
    </PixButton>
    <PixButton data-test-sorting-pop-in-approve
               @triggerAction={{fn @onApprove @model}}
    >
      <i class="checkmark icon" ></i>
      Ok
    </PixButton>
  </:footer>
</PixModal>