<ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal" @onClose={{this.closeModal}}>
  <div class="ui modal visible active">
    <i class="close icon" {{on "click" this.closeModal}}></i>
    <div class="header">
      {{@title}}
    </div>
    <div class="content">
      <p>Nombre total d'acquis : {{selectedSkillsCount}}</p>
      <table class="ui very basic collapsing celled table">
        <thead>
        <tr>
          <th>Niveau</th>
          <th>Nombre d'acquis</th>
          <th>Palier</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.selectedSkillsLevels as |value|}}
          <TargetProfile::ThresholdRow @level={{value}} @selectedSkills={{this.skillsSelected}}/>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="actions">
      <div class="ui deny button" {{on "click" this.closeModal}}>
        Annuler
      </div>
    </div>
  </div>
</ModalDialog>