<PixModal @title={{this.title}}
          @onCloseButtonClick={{this.closeModal}}
          @showModal={{@showModal}}
          class="popin-tube-level"
>
  <:content>
    <div class="levels">
      {{#each this.skillsAndSelectedStatus as |skillAndSelectedStatus|}}
        {{#if skillAndSelectedStatus}}
          <div class="level {{if skillAndSelectedStatus.isSelected "selected"}}" {{on "click" (fn this.select skillAndSelectedStatus.skill)}} >
            {{skillAndSelectedStatus.skill.level}}
          </div>
        {{else}}
          <div class="level disabled"></div>
        {{/if}}
      {{/each}}
    </div>
  </:content>
  <:footer>
    <PixButton data-test-cancel-button
               @backgroundColor="transparent-light"
               @isBorderVisible={{true}}
               @triggerAction={{this.closeModal}}
    >
      {{t 'common.cancel'}}
    </PixButton>
    {{#if this.mayUnset}}
      <PixButton data-test-erase-button
                 @triggerAction={{this.clear}}
      >
        Effacer
      </PixButton>
    {{/if}}
  </:footer>
</PixModal>