<div class="field">
  {{#if (or @value.length @edition)}}
    <label>{{@title}}</label>
  {{/if}}
  {{#if @value.length}}
    {{#if @value.0.url}}
      <img src={{@value.0.url}} alt="" class="clickable" {{on "click" @display}} role="presentation">
    {{else}}
      {{@value.0.file.name}} ({{@value.0.file.size}} octets)
    {{/if}}
    {{#if @edition}}
      <button {{on "click" this.remove}} class="ui button file-remove" type="button"><i class="remove icon"></i></button>
    {{/if}}
  {{/if}}
  {{#if @edition}}
    <FileUpload @name="illustration" @accept="image/*" @onfileadd={{this.add}}>
    {{!-- template-lint-disable link-href-attributes  --}}
      <a class="ui button">
        Choisir une image...
      </a>
    {{!-- template-lint-enable link-href-attributes  --}}
    </FileUpload>
  {{/if}}
</div>