<div class={{concat "field" (if @edition "" " disabled")}}>
  <label>{{@title}}</label>
{{#if @multiple}}
  <PowerSelectMultiple @placeholder={{if @defaultText @defaultText ""}} @options={{@options}} @searchEnabled={{false}} @disabled={{if @edition false true}} @selected={{@value}} @onChange={{@setValue}} as |option|>
    {{option}}
  </PowerSelectMultiple>
{{else}}
  <PowerSelect @placeholder={{if @defaultText @defaultText ""}} @searchEnabled={{false}} @options={{@options}} @disabled={{if @edition false true}} @selected={{@value}} @onChange={{@setValue}} as |option|>
    {{option}}
  </PowerSelect>
{{/if}}
</div>