{{#if this.displayWorkbenchViews}}
  <a class={{concat "item" (if (eq this.view "workbench") " active" "")}} {{on "click" (fn @selectView "workbench")}} href="#">
    <i class="grid layout icon"></i>
  </a>
  <a class={{concat "item" (if (eq this.view "workbench-list") " active" "")}} {{on "click" (fn @selectView "workbench-list")}} href="#">
    <i class="align justify icon"></i>
  </a>
{{/if}}
{{#if this.displayProductionStats}}
  <div class="item competence-info"><div class="competence-info">Tubes : {{this.competence.productionTubeCount}}</div><div class="competence-info">Acquix : {{this.competence.productionSkillCount}}</div></div>
{{else}}
  <div class="item competence-info"><div class="competence-info">Tubes : {{this.competence.tubeCount}}</div><div class="competence-info">Acquix : {{this.competence.skillCount}}</div></div>
{{/if}}
{{#if this.mayCreateTube}}
  <a class="left item" {{on "click" this.newTube}} href="#">
    <i class="plus square outline icon"></i> Nouveau tube
  </a>
{{/if}}
{{#if this.mayCreateTemplate}}
    <a class="right item" {{on "click" this.newTemplate}} href="#">
        <i class="plus square outline icon"></i> Nouveau prototype
    </a>
{{/if}}
