<table class="ui celled table definition tubes">
  <tbody>
  {{#each this.tubes as |tube|}}
    {{#if (or this.displayAllTubes tube.hasProductionChallenge) }}
      <tr>
        <td>
          {{#if (eq this.section "skills")}}
            <LinkTo @route="competence.tubes.single" @models={{array this.competenceModel tube}}>{{tube.name}}</LinkTo>
          {{else}}
            {{tube.name}}
          {{/if}}
        </td>
        {{#each tube.filledSkills as |skill index|}}
         <Competence::Grid::GridCell @section={{this.section}} @view={{@view}} @skill={{skill}} @link={{this.link}} @tubeId={{tube.id}} @competenceModel={{this.competenceModel}} @index={{index}} />
        {{/each}}
      </tr>
    {{/if}}
  {{/each}}
  </tbody>
</table>
