<div class="tube-header">
  <div class="ui menu">
    <div class="ui left menu">
      {{#if (and this.mayMove (not this.creation) (not this.edition))}}
        <PixIconButton
          @triggerAction={{this.selectCompetence}}
          @icon="shuffle"
          @iconPrefix="fas"
          @ariaLabel="Déplacer le sujet"/>
      {{/if}}
    </div>
    <div class="item header {{if this.creation "creation"}}">
      {{#if this.creation}}
        Nouveau tube de la thématique "{{this.tube.theme.name}}"
      {{else}}
        {{this.tube.name}}
      {{/if}}
    </div>
    <div class="ui right menu">
      {{#if this.maximized}}
        <PixIconButton
          @triggerAction={{this.minimize}}
          @icon="window-minimize"
          @iconPrefix="fas"
          @ariaLabel="Minimiser la fenêtre de détail du sujet"/>
      {{else}}
        <PixIconButton
          @triggerAction={{this.maximize}}
          @icon="window-maximize"
          @iconPrefix="fas"
          @ariaLabel="Maximiser la fenêtre de détail du sujet"/>
      {{/if}}
      <PixIconButton
        @triggerAction={{this.close}}
        @icon="rectangle-xmark"
        @iconPrefix="fas"
        @ariaLabel="Fermer la fenêtre de détail du sujet"/>
    </div>
  </div>
</div>
<div class="tube-details">
  <div class="tube-data" {{scroll-top this.edition}}>
    <Form::Tube @tube={{this.tube}} @edition={{this.edition}} @creation={{this.creation}}/>
  </div>
  <div class="ui vertical compact labeled icon menu tube-menu">
    {{#if this.edition}}
      <PixButton
        @triggerAction={{this.save}}
        @backgroundColor="transparent-light"
        @iconBefore="floppy-disk"
        @prefixIconBefore="fas"
        @isDisabled={{this.disableSaveButton}}
      >
        Enregistrer
      </PixButton>
      <PixButton
        @triggerAction={{this.cancelEdit}}
        @backgroundColor="transparent-light"
        @iconBefore="ban"
        @prefixIconBefore="fas"
      >
        Annuler
      </PixButton>
    {{else}}
      {{#if this.mayEdit}}
        <PixButton
          @triggerAction={{this.edit}}
          @backgroundColor="transparent-light"
          @iconBefore="pen-to-square"
          @prefixIconBefore="fas"
        >
          Modifier
        </PixButton>
      {{/if}}
      {{#if this.mayAccessAirtable}}
        <PixButtonLink
          @href={{this.airtableUrl}}
          target="_blank"
          rel="noopener noreferrer"
          @backgroundColor="transparent-light"
          class="button-link-with-icon"
        >
          <FaIcon
            @icon="table-cells-large"
            @prefix="fas"></FaIcon> Airtable
        </PixButtonLink>
      {{/if}}
    {{/if}}
  </div>
</div>
<PopIn::SelectLocation
  @class="tube-select-competence"
  @onChange={{this.setCompetence}}
  @name={{this.tube.name}}
  @theme={{this.tube.theme}}
  @isTubeLocation={{true}}
  @close={{this.closeSelectCompetence}}
  @showModal={{this.displaySelectLocation}}
/>
