{{#if this.display}}
  <ModalDialog @targetAttachment="center" @containerClassNames="popin-template-log" @overlayClassNames="custom-overlay-modal" @onClose={{this.closeModal}}>
    <div class="ui modal visible active">
      <i class="close icon" {{on "click" this.closeModal}}></i>
      <div class="header">
        Journal de {{this.challenge.skillNames}}
      </div>

      <div class="ui content segment basic custom-tab {{if this.loading "loading" ""}} {{if this.list "" "hidden"}}">
        <AriaTabs as |at|>
          <div class="ui top attached tabular menu">
            <at.tabList as |tl|>
              <tl.tab>Mes notes</tl.tab>
              <tl.tab>Toutes les notes </tl.tab>
              <tl.tab>Changelog</tl.tab>
            </at.tabList>
          </div>
          <at.tabPanel>
            <div class="ui bottom attached tab segment active" data-tab="own">
              <List::Notes @list={{this.ownNotes}} @itemCount={{this.ownCount}} @listType="own-note-list" @displayAuthor={{false}} @show={{this.showOwnNote}} />
              <div class="ui text menu note-menu">
                <button class="ui button item" {{on "click" this.addNote}} type="button"><i class="plus icon"></i>Nouvelle note</button>
              </div>
            </div>
          </at.tabPanel>
          <at.tabPanel>
            <div class="ui bottom attached tab segment active" data-tab="notes">
              <List::Notes @list={{this.notes}} @itemCount={{this.notesCount}} @listType="note-list" @show={{this.showNote}} />
            </div>
          </at.tabPanel>
          <at.tabPanel>
            <div class="ui bottom attached tab segment active" data-tab="notes">
              <List::Notes @list={{this.changelogEntries}} @itemCount={{this.changelogEntriesCount}} @listType="changelog-entry-list" @displayStatus={{false}} @show={{this.showChangelogEntry}} />
            </div>
          </at.tabPanel>
        </AriaTabs>
      </div>
      {{#unless this.list}}
        <Form::Note @entry={{this.logEntry}} @edition={{this.logEntryEdition}} @close={{this.closeLogForm}} @update={{this.update}} @mayEdit={{this.mayEditEntry}} @edit={{this.editEntry}} />
      {{/unless}}
    </div>
  </ModalDialog>
{{/if}}