{{#if @display}}
  <ModalDialog @targetAttachment="center" @overlayClassNames="custom-overlay-modal" @onClose={{this.closeModal}}>
    <div class="ui standard modal visible active">
      <div class="header">
        Configuration
      </div>
      <div class="content">
        <div class="description">
          <form class="ui form">
            <div class="field">
              <label>Clé airtable</label>
              <div class="ui input">
                <Input @value={{mut this.airtableKey}} />
              </div>
            </div>
            <div class="field">
              <label>Clé config</label>
              <div class="ui input">
                <Input @value={{mut this.configKey}} />
              </div>
            </div>
            {{#if this.authors.length}}
              <div class="field">
                <label>Auteur</label>
                <PowerSelect @placeholder="Sélectionnez votre trigramme" @options={{this.authorNames}} @selected={{this.author}} @onChange={{fn (mut this.author)}} as |auth|>
                  {{auth}}
                </PowerSelect>
              </div>
            {{/if}}
            <h4 class="ui dividing header">Paramètres optionnels</h4>
            <AccordionList as |accordion|>
              <div class="ui accordion ">
                <accordion.item as |accordionItem|>
                  <accordionItem.toggle @class="title">
                    <i class="dropdown icon"></i>
                    Compte Pix (mise à jour du cache)
                  </accordionItem.toggle>
                  <accordionItem.panel>
                    <div class="content">
                      <div class="field">
                        <label>Adresse e-mail</label>
                        <div class="ui input">
                          <Input @value={{this.pixUser}} />
                        </div>
                      </div>
                      <div class="field">
                        <label>Mot de passe</label>
                        <div class="ui input">
                          <Input @value={{this.pixPassword}} @type="password" />
                        </div>
                      </div>
                    </div>
                  </accordionItem.panel>
                </accordion.item>
              </div>
            </AccordionList>
          </form>
        </div>
      </div>
      <div class="actions">
        <div class="ui deny button" {{on "click" this.closeModal}}>
          Annuler
        </div>
        <div class="ui right button" {{on "click" this.saveConfig}}>
          Enregistrer
        </div>
      </div>
    </div>
  </ModalDialog>
{{/if}}
