<div class="main-title  {{if config.lite "lite" ""}}">
  <h1>
  <div class="ui right floated menu">
    <a class="ui icon item" onclick={{action "close"}}><i class="icon window close"></i></a>
  </div>
      Prototypes de {{model.name}}
  </h1>
</div>
<div class="ui attached segment competence {{size}} {{listHidden}}">
  {{templates-list list=model.templates itemCount=model.templates.length competenceModel=competence hidden=false}}
</div>
<div class="ui borderless bottom attached labelled icon menu {{listHidden}}">
    <a class="right item" onclick={{action "newTemplate"}}>
      <i class="plus square outline icon"></i> Nouveau prototype
    </a>
</div>
{{outlet}}
