<div class={{concat "challenge-header " this.challenge.statusCSS}}>
  <div class="ui menu">
      <div class="ui left menu">
    {{#if this.mayAccessLog}}
        <a class="ui icon item" onclick={{action "challengeLog"}}><i class="icon window chat"></i></a>
    {{/if}}
    {{#if (not this.edition)}}
      {{#if (and this.challenge.isTemplate (not this.challenge.isWorkbench))}}
          <a class="ui icon item" onclick={{action "showVersions"}}><i class="clone icon"></i>&nbsp;v{{this.challenge.version}}</a>
      {{/if}}
      {{#if (or this.mayValidate this.mayArchive)}}

        <BasicDropdown @class="icon ui dropdown " @horizontalPosition="left" as |dd|>
          <dd.trigger><a class="ui icon item"><i class="bolt icon"></i></a></dd.trigger>

          <dd.content @class="dropdown-content dropdown-content-challenge slide-fade">

              {{#if this.mayValidate}}
                <a class="item validate"  onclick={{action "validate"}}>
                  <i class="checkmark icon"></i>
                  Valider
                </a>
              {{/if}}
              {{#if this.mayArchive}}
                <a class="item archive"  onclick={{action "archive"}}>
                  <i class="trash alternate icon"></i>
                  Archiver
                </a>
              {{/if}}

          </dd.content>
        </BasicDropdown>
      {{/if}}
      {{#if this.mayMove}}
        <a class="ui icon item" onclick={{action "moveTemplate"}}><i class="icon random"></i></a>
      {{/if}}
    {{/if}}
      </div>
    <div class={{concat "item header" (if this.creation " creation" "")}}>
      {{this.challengeTitle}}
    </div>
    <div class="ui right menu">
      {{#if this.maximized}}
        <a class="ui icon item" onclick={{action "minimize"}}><i class="window minimize icon"></i></a>
      {{else}}
        <a class="ui icon item" onclick={{action "maximize"}}><i class="window maximize outline icon"></i></a>
      {{/if}}
      <a class="ui icon item" onclick={{action "close"}}><i class="icon window close"></i></a>
    </div>
  </div>
</div>
<div class="challenge">
  <div class="challenge-data {{this.elementClass}}">
    <ChallengeForm @challenge={{this.challenge}} @showIllustration={{action "showIllustration"}} @edition={{this.edition}} @alternative={{this.alternative}} />
    {{#if this.copyOperation}}
      <Textarea @value={{this.challenge.preview}} @id={{this.copyZoneId}} />    {{/if}}  </div>
<div class="ui vertical compact labeled icon menu challenge-menu">
  {{#if this.edition}}
    <a class="item important-action" onclick={{action "save"}}>
      <i class="save icon"></i>
      Enregistrer
    </a>
    {{#if this.mayUpdateCache}}
      <div class="item">
        <CustomCheckbox @label="mise à jour cache" @checked={{this.updateCache}} />
      </div>
    {{/if}}
    <a class="item" onclick={{action "cancelEdit"}}>
      <i class="ban icon"></i>
      Annuler
    </a>
  {{else}}
    <a class="item" onclick={{action "preview"}}>
      <i class="eye icon"></i>
      Prévisualiser
    </a>
    {{#if this.mayEdit}}
      <a class="item" onclick={{action "edit"}}>
        <i class="edit icon"></i>
        Modifier
      </a>
    {{/if}}
    {{#if this.mayDuplicate}}
      <a class="item" onclick={{action "duplicate"}}>
        <i class="copy icon"></i>
        Dupliquer
      </a>
    {{/if}}
    {{#if this.mayAccessAirtable}}
      <a class="item" onclick={{action "openAirtable"}}>
        <i class="table icon"></i>
        Airtable
      </a>
    {{/if}}
    <a class="item"  onclick={{action "copyLink"}}>
      <i class="linkify icon"></i>
      Copier lien
    </a>
    {{#if (and (not this.alternative) (not this.challenge.isWorkbench))}}
      <a class="item alternatives"  onclick={{action "showAlternatives"}}>
        <i class="cubes icon"></i>
        Déclinaisons &gt;&gt;
      </a>
    {{/if}}
  {{/if}}
</div>
</div>
<PopinChallengeLog @display={{this.displayChallengeLog}} @challenge={{this.challenge}} @competence={{this.competence}} @class={{this.popinLogClass}} />
<PopinImage @src={{this.popinImageSrc}} @display={{this.displayImage}} />
<PopinChangelog @display={{this.displayChangeLog}} @onApprove={{action "changelogApprove"}} @onDeny={{action "changelogDeny"}} @value={{this.changelogDefault}} />
{{#if this.mayMove}}
  <PopinSelectLocation @display={{this.displaySelectLocation}} @onChange={{action "setSkills"}} @title="Acquis du prototype" @areas={{this.areas}} @competence={{this.competence}} @selectTubeLevel={{true}} @tube={{this.challenge.firstSkill.tube}} @level={{this.level}} @multipleLevel={{true}} />
{{/if}}
{{outlet}}