<div class="ui container fluid application">
  <div class={{concat "ui page dimmer inverted" (if this.loading " active" "")}}>
    <div class="ui text loader">{{this.loadingMessage}}</div>
  </div>
  <Sidebar::Main @openLogout={{this.openLogout}} @open={{this.menuOpen}} @close={{this.closeMenu}}/>
  <div class="pusher">
    <div class="ui vertical inverted icon menu main-menu {{if this.config.lite "lite" ""}}">
      {{!-- template-lint-disable --}}
      <button class="ui icon button" type="button" {{on "click" this.toggleMenu}}>
        <i class="bars icon"></i>
      </button>
      {{!-- template-lint-enable --}}
    </div>
    <div class="main" {{on "click" this.closeMenu}}>
      {{#if this.isIndex}}
        <div class="main-left">
          <main class="elephant ui attached"></main>
          <footer class="ui bottom attached block header centered">
            <p>Tout contenu Pix Editor est strictement confidentiel - secret - ne pas divulguer</p>
          </footer>
        </div>
      {{/if}}
      {{outlet}}
      {{#if this.messages.length}}
        <div class="messages">
          {{#each this.messages as |message|}}
            <div data-test-main-message class={{concat "ui floating message " (if message.positive "positive" "warning")}}
                 id={{message.id}}>
              <p>
                {{#if message.positive}}
                  <i class="check icon"></i>
                {{else}}
                  <i class="exclamation icon"></i>
                {{/if}}
                {{message.text}}
              </p>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
  <PopIn::Logout
    @onDeny={{this.closeLogout}}
    @onConfirm={{this.logout}}
    @showModal={{this.displayLogout}}
    @class="popin-logout"
  />
  {{#if this.displayConfirm}}
    <PopIn::Confirm @title={{this.confirmTitle}} @content={{this.confirmContent}} @onApprove={{this.confirmApprove}} @onDeny={{this.confirmDeny}} />
  {{/if}}
</div>
