<div class="main-left">
  <Competence::CompetenceHeader
    @competence={{this.competence}}
    @section={{this.section}}
    @languageFilter={{this.languageFilter}}
    @selectLanguageToFilter={{this.selectLanguageToFilter}}
    @view={{this.view}}
    @selectSection={{this.selectSection}} />
  {{#unless this.leftMaximized}}
    <Competence::CompetenceActions
      @section={{this.section}}
      @languageFilter={{this.languageFilter}}
      @view={{this.view}}
      @refresh={{this.refresh}}
      @selectView={{this.selectView}}
      @shareSkills={{this.exportSkills}} />
    <div class="ui attached segment competence {{this.size}}">
      {{#if this.displayGrid}}
        <Competence::CompetenceGrid
          @themes={{this.competence.sortedThemes}}
          @languageFilter={{this.languageFilter}}
          @section={{this.section}}
          @view={{this.view}}
          @link={{this.skillLink}} />
      {{else}}
        <List::Workbench
          @list={{this.competence.workbenchPrototypes}}
          @competenceModel={{this.model}}
          @link={{this.skillLink}} />
      {{/if}}
    </div>
    <Competence::CompetenceFooter
      @competence={{this.competence}}
      @section={{this.section}}
      @view={{this.view}}
      @selectView={{this.selectView}}
      @newTube={{this.newTube}}
      @newPrototype={{this.newPrototype}} />
  {{/unless}}
  {{outlet}}
</div>
{{#if this.twoColumns}}
<div class="main-right">
  {{outlet "mainRight"}}
</div>
{{/if}}
