<LinkTo @route={{this.link}} @models={{array this.competenceModel this.skill.productionTemplate}} @tagName="td" class="skill skill-cell link production">
  {{this.skill.name}}
  <div class="alternative">
    <span class="production">{{this.skill.productionTemplate.productionAlternatives.length}}</span>
    {{#if this.skill.productionTemplate.draftAlternatives.length}}
      <span class="draft">({{this.skill.productionTemplate.draftAlternatives.length}})</span>
    {{/if}}
    {{#if this.skill.template.notDeclinable}}
      <span class="not-declinable">NR</span>
    {{/if}}
  </div>
</LinkTo>