<LinkTo @route="competence.quality.single" @model={{@skill}} @tagName="td" class="skill-cell quality-skill-link">
  <EmberTooltip @tooltipClass="custom-tooltip quality-tooltip" @arrowClass="custom-arrow" @side="right-start">
    <table class="quality-indication-details">
      <tbody>
        {{this.popupBuild}}
      </tbody>
    </table>
  </EmberTooltip>
  <div class="quality {{this.qualityClassColor}}">
    <div class=" quality-indication">
      <span>{{@skill.name}}</span>
      <span>{{this.qualityIndication}}</span>
    </div>
    {{#if this.classTutorial}}
      <i class="lab icon {{this.classTutorial}}"></i>
    {{/if}}
    {{#if @skill.productionTemplate.timer }}
      <i class="time icon"></i>
    {{/if}}
    {{#if (and (not this.classTutorial) (not @skill.productionTemplate.timer))}}
      <br>
    {{/if}}
  </div>
</LinkTo>