{{#link-to "competence.quality.single" competenceModel skill tagName="td" class="skill-cell quality-skill-link"}}
  {{#ember-tooltip tooltipClass="custom-tooltip quality-tooltip" arrowClass="custom-arrow" side="right-start"}}
    <table class="quality-indication-details">
      <tbody>
        {{popupBuild}}
      </tbody>
    </table>
  {{/ember-tooltip}}
  <div class="quality {{qualityClassColor}}">
    <div class=" quality-indication">
      <span>{{skill.name}}</span>
      <span>{{qualityIndication}}</span>
    </div>
    {{#if classTutorial}}
      <i class="lab icon {{classTutorial}}"></i>
    {{/if}}
    {{#if skill.productionTemplate.timer }}
      <i class="time icon"></i>
    {{/if}}
    {{#if (and (not classTutorial) (not skill.productionTemplate.timer))}}
      <br>
    {{/if}}
  </div>
{{/link-to}}