{{#if displaySkill}}
    {{#if (eq section "challenges")}}
      {{#if (eq view "production")}}
        {{competence/grid/cell-production skill=skill link=link competenceModel=competenceModel}}
      {{else if (eq view "workbench")}}
        {{competence/grid/cell-workbench skill=skill competenceModel=competenceModel}}
      {{/if}}
    {{else if (eq section "quality")}}
      {{competence/grid/cell-quality skill=skill competenceModel=competenceModel}}
    {{else if (eq section "skills")}}
      {{competence/grid/cell-skill skill=skill competenceModel=competenceModel}}
  {{/if}}
{{else if mayAddSkill}}
    <td>{{#link-to "competence.skills.new" competenceModel tubeId index class="add-skill"}}
        <i class="icon plus circle"></i>{{/link-to}}</td>
{{else}}
    <td class="skill-cell__empty"></td>
{{/if}}