{{#if (eq view "skills")}}
  {{#link-to skillLink competenceModel skillLinkElement tagName="td" class=(concat "skill skill-cell link skill-mode" (if (not skill.productionTemplate) " draft-skill"))}}
    <div class="skill-name {{skill.descriptionCSS}}">
      {{skill.name}}
    </div>
    <div class="help">
      {{#if (or skill.clue skill.clueNA)}}
      <i class={{concat "idea icon " skill.clueCSS}}></i>
      {{else}}
      <i class="icon"></i>
      {{/if}}
      <span class="tuto-count">{{skill.tutoSolutionCount}} - {{skill.tutoMoreCount}}</span>
    </div>
  {{/link-to}}
{{else if (eq view "quality")}}
  {{#link-to skillLink competenceModel skillLinkElement tagName="td" class="skill-cell quality-skill-link"}}
  {{competence/grid/skill-quality skill=skill}}
  {{/link-to}}
{{else}}
  {{#link-to skillLink competenceModel skillLinkElement tagName="td" class=(concat "skill skill-cell link " (if production "production" "draft"))}}
    {{skill.name}}
    <div class="alternative">
      {{#if production}}
        <span class="production">{{skill.productionTemplate.productionAlternatives.length}}</span>
        {{#if skill.productionTemplate.draftAlternatives.length}}
        <span class="draft">({{skill.productionTemplate.draftAlternatives.length}})</span>
        {{/if}}
      {{else}}
        <span class="draft">{{skill.templates.length}}</span>
      {{/if}}
      {{#if skill.template.content.notDeclinable}}
        <span class="not-declinable">NR</span>
      {{/if}}
    </div>
  {{/link-to}}
{{/if}}