<div class="main-left">
  <div class="ui main-title">
    <h1 class="ui left floated header">Tests Statiques</h1>
  </div>
  <div class="panel">
    <table class="table">
      <thead>
      <tr class="table-header">
        <th>Nom</th>
        <th>Epreuves</th>
        <th>Créé le</th>
        <th>Prévisualisation</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.model as |staticCourseSummary|}}
        <tr>
          <td>{{staticCourseSummary.name}}</td>
          <td>{{staticCourseSummary.challengeCount}}</td>
          <td>{{dayjs-format staticCourseSummary.createdAt "DD/MM/YYYY" allow-empty=true}}</td>
          <td class="table-preview">
            <PixIconButton @triggerAction={{fn this.copyStaticCoursePreviewUrl staticCourseSummary}} @icon="copy" @iconPrefix="far" @ariaLabel="copier le lien vers la preview" class="icon">COPIERCOLLER</PixIconButton>
            <a
              href="{{staticCourseSummary.previewURL}}"
              target="_blank"
              rel="noopener noreferrer"
            >
            <span class="icon">
              <FaIcon @icon="eye" @prefix="fas"/>
            </span>
            </a>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <PixPagination
      @pagination={{this.model.meta}}
    />
  </div>
</div>
