<PixTable as |t|>
  <t.head
          @columns={{this.headers}}
          @widthConstraint={{'eq-container'}}
          @resizeMode={{'fluid'}}
          @onUpdateSorts={{this.sortBy}}
          @sortFunction={{this.sort}}
          @sorts={{this.sorts}}/>
  <t.body
          @rows={{@list}}
          @rowSelectionMode={{'single'}}
          @checkboxSelectionMode={{'none'}}
          @onSelect={{this.selectRow}} as |b|>
    <b.row as |r|>
      <r.cell class="{{if r.columnValue.style r.rowValue.statusCSS}}" as |value|>
        {{#if r.columnValue.yesno}}
          {{#if value}}
            Oui
          {{else}}
            Non
          {{/if}}
        {{else if r.columnValue.languages}}
        <div class="challenge_languages">
          {{#each r.rowValue.languages as |language| }}
            <i class="{{convert-language-as-flag language}} flag" title="{{language}}"></i>
          {{/each}}
        </div>
        {{else}}
          {{value}}
        {{/if}}
      </r.cell>
    </b.row>
  </t.body>
</PixTable>
