<EmberTable as |t|>
  <t.head
          @columns={{this.headers}}
          @widthConstraint={{'eq-container'}}
          @resizeMode={{'fluid'}}
          @onUpdateSorts={{this.sortBy}}
          @sortFunction={{this.sort}}
          @sorts={{this.sorts}}/>
  <t.body
          @rows={{@list}}
          @rowSelectionMode={{'single'}}
          @checkboxSelectionMode={{'none'}}
          @onSelect={{this.selectRow}} as |b|>
    <b.row class="challenge-template" as |r|>
      <r.cell class="{{if r.columnValue.alternatives "alternatives-count"}}" as |value|>
        {{#if r.columnValue.language}}
          <span class="language"><i class="{{convert-language-as-flag value}} flag"></i>{{value}}</span>
        {{else if r.columnValue.alternatives}}
          {{get-alternative-count-by-language @skill value}}
        {{else}}
          {{value}}
        {{/if}}
      </r.cell>
    </b.row>
  </t.body>
</EmberTable>
