<div class="ui container fluid application pushable">
  <div class={{concat "ui page dimmer inverted" (if loading " active" "")}}>
      <div class="ui text loader">{{loadingMessage}}</div>
  </div>
  {{main-sidebar areas=model loadCompetence=(action "loadCompetence") class=(concat "inverted menu left vertical main-sidebar wide " (if (eq currentRouteName "index") "visible" "") (if config.lite "lite" "")) openConfiguration=(action "openConfiguration")}}
  <div class="pusher">
    <div class="ui vertical inverted icon menu main-menu {{if config.lite "lite" ""}}">
      <a class="item" onclick={{action "toggleSidebar"}}>
        <i class="bars icon"></i>
      </a>
    </div>
    <div class="main">
      {{outlet}}
      {{#if messages.length}}
        <div class="messages">
          {{#each messages as |message|}}
            <div class={{concat "ui floating message " (if message.positive "positive" "warning")}} id={{message.id}}>
              <p>
                {{#if message.positive}}
                <i class="check icon"></i>
                {{else}}
                <i class="exclamation icon"></i>
                {{/if}}
                {{message.text}}
              </p>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
  {{popin-config-form update=(action "configUpdated") class="popin-config-form"}}
  {{popin-confirm title=confirmTitle content=confirmContent onApprove=(action "confirmApprove") onDeny=(action "confirmDeny") class="popin-confirm"}}
</div>