<div class="main-left">
  <div class="main-title {{if config.lite "lite" ""}}">
    <h1>{{competence.name}}</h1>
      {{#ui-dropdown class="selection" selected="Classique" onChange=(action "selectView" value=target.value)}}
        <div class="default text">Classique</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each listViews as |view|}}
            <div data-value="{{view.id}}" class="item">
              {{view.title}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
<!--      <div class={{!concat "skill-mode" (if skillMode " active" "")}}>Gestion des acquis{{!ui-checkbox checked=skillMode class="toggle skill-mode" onChange=(action "changeMode")}}-->
<!--    </div>-->


  </div>
  <div class="ui top attached borderless labelled icon menu {{competenceHidden}} {{if skillMode "skill-mode" ""}}">
    {{#unless config.lite}}
      {{#if skillMode}}
        <a class="left item" onclick={{action "shareSkills"}}>
          <i class="share square icon"></i> Exporter
        </a>
      {{else}}
      <div class="ui top attached tabular menu">
        <div class="item production {{if production "active" ""}}" onclick={{action "switchProduction" true}}>En production</div>
        <div class="item draft {{if production "" "active"}}"  onclick={{action "switchDraft" true}}>Atelier</div>
      </div>
      {{/if}}
    {{/unless}}
    <a class="right item" onclick={{action "refresh" true}}>
      <i class="sync alternate icon"></i> Actualiser
    </a>
  </div>
  <div class="ui attached segment competence {{size}} {{competenceHidden}}">
    {{competence-list list=competence.workbenchTemplates itemCount=competence.workbenchTemplates.length competenceModel=model hidden=(not listView) link=skillLink production=production}}
    {{competence-grid tubes=competence.sortedTubes competenceModel=model hidden=listView skillMode=skillMode link=skillLink production=production}}
  </div>
  <div class="ui borderless bottom attached labelled icon menu {{competenceHidden}} {{if skillMode "skill-mode" ""}}">
  {{#if (and (not skillMode) (not production))}}
    <a class={{concat "item" (if (not listView) " active" "")}} onclick={{action "setGridView"}}>
      <i class="grid layout icon"></i>
    </a>
    <a class={{concat "item" (if listView " active" "")}} onclick={{action "setListView"}}>
      <i class="align justify icon"></i>
    </a>
  {{/if}}
  {{#if (and production (not skillMode))}}
    <div class="item competence-info"><div class="competence-info">Tubes : {{competence.productionTubeCount.content}}</div><div class="competence-info">Acquix : {{competence.productionSkillCount.content}}</div></div>
  {{else}}
    <div class="item competence-info"><div class="competence-info">Tubes : {{competence.tubeCount.content}}</div><div class="competence-info">Acquix : {{competence.skillCount.content}}</div></div>
  {{/if}}
  {{#if skillMode}}
    {{#if mayCreateTube}}
      <a class="left item" onclick={{action "newTube"}}>
        <i class="plus square outline icon"></i> Nouveau tube
      </a>
    {{/if}}
  {{else if (and (not production) mayCreateTemplate)}}
    <a class="right item" onclick={{action "newTemplate"}}>
      <i class="plus square outline icon"></i> Nouveau prototype
    </a>
  {{/if}}
  </div>
  {{outlet}}
</div>
{{#if twoColumns}}
<div class="main-right">
  {{outlet "mainRight"}}
</div>
{{/if}}
