<div class="main-left">
  <div class="main-title {{if config.lite "lite" ""}}">
    <h1>{{competence.name}} <div class={{concat "skill-mode" (if skillMode " active" "")}}>Gestion des acquis{{ui-checkbox checked=skillMode class="toggle skill-mode" onChange=(action (mut skillMode))}}</div>
  </h1>
  </div>
  <div class="ui top attached borderless labelled icon menu {{competenceHidden}} {{if skillMode "skill-mode" ""}}">
    {{#unless config.lite}}
      {{#if skillMode}}
        <a class="left item" onclick={{action "soon"}}>
          <i class="plus square outline icon"></i> Nouvel acquis
        </a>
      {{else}}
      <div class="ui top attached tabular menu">
        <div class="item production {{if production "active" ""}}" onclick={{action "switchProduction" true}}>Production</div>
        <div class="item draft {{if production "" "active"}}"  onclick={{action "switchDraft" true}}>Versions</div>
      </div>
      {{/if}}
    {{/unless}}
    <a class="right item" onclick={{action "refresh" true}}>
      <i class="sync alternate icon"></i> Actualiser
    </a>
  </div>
  <div class="ui attached segment competence {{size}} {{competenceHidden}}">
    {{competence-list list=competence.draftTemplates itemCount=competence.draftTemplates.length competenceModel=model hidden=(not listView) link=skillLink production=production}}
    {{competence-grid tubes=competence.sortedTubes competenceModel=model hidden=listView skillMode=skillMode link=skillLink production=production}}
  </div>
  <div class="ui borderless bottom attached labelled icon menu {{competenceHidden}} {{if skillMode "skill-mode" ""}}">
  {{#if (and (not skillMode) (not production))}}
    <a class={{concat "item" (if (not listView) " active" "")}} onclick={{action "setGridView"}}>
      <i class="grid layout icon"></i>
    </a>
    <a class={{concat "item" (if listView " active" "")}} onclick={{action "setListView"}}>
      <i class="align justify icon"></i>
    </a>
  {{/if}}
  {{#if (or production skillMode)}}
    <div class="item competence-info"><div class="competence-info">Tubes : {{competence.tubeCount}}</div><div class="competence-info">Acquix : {{competence.skillCount.content}}</div></div>
  {{/if}}
  {{#if skillMode}}
    <a class="right item" onclick={{action "shareSkills"}}>
      <i class="share square icon"></i>
    </a>
  {{else if (not production)}}
    <a class="right item" onclick={{action "newTemplate"}}>
      <i class="plus square outline icon"></i> Nouveau prototype
    </a>
  {{/if}}
  </div>
  {{outlet}}
</div>
{{#if twoColumns}}
<div class="main-right">
  {{outlet "mainRight"}}
</div>
{{/if}}
