<div class="main-left">
  <div class="main-title">
    <h1 class="ui header">Statistiques</h1>
  </div>
  <div class="ui fluid container statistics">
    <div class="ui two column padded grid">
      <div class="column">
        <h2 class="ui header">
          <i class="rocket icon"></i>
          <div class="content">
            En production
          </div>
        </h2>
        <div class="ui three column padded grid">
          <div class="column">
            <div class="ui blue segment center aligned">
              <div class="ui header">
                {{this.productionTubeTotal}}
                <div class="sub header">
                  Tubes
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui blue segment center aligned">
              <div class="ui header">
                {{this.productionSkillTotal}}
                <div class="sub header">
                  Acquis
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui blue segment center aligned">
              <div class="ui header">
                {{this.productionChallengeTotal}}
                <div class="sub header">
                  Épreuves
                </div>
              </div>
            </div>
          </div>
          <div class="three columns">
            <div class="ui blue segment five column grid center aligned">
              <div class="column">
                Compétence
              </div>
              <div class="column">
                Tubes
              </div>
              <div class="column">
                Acquis
              </div>
              <div class="column">
                Épreuves
              </div>
              <div class="teal column">
                Part
              </div>
              {{#each this.productionData as |item|}}
                <div class="column">
                  {{item.name}}
                </div>
                <div class="column">
                  {{item.tubes}}
                </div>
                <div class="column">
                  {{item.skills}}
                </div>
                <div class="column">
                  {{item.challenges}}
                </div>
                <div class="teal column">
                  {{item.rate}}&nbsp;%
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <h2 class="ui header">
          <i class="globe icon"></i>
          <div class="content">
            Internationalisation
          </div>
        </h2>
        <div class="ui three column padded grid">
          <div class="column">
            <div class="ui yellow segment center aligned">
              <div class="ui header">
                {{this.i18nWorldSkills}}
                <div class="sub header">
                  Acquis Monde
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui yellow segment center aligned">
              <div class="ui header">
                {{this.i18nEuropeanSkills}}
                <div class="sub header">
                  Acquis Europe
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui yellow segment center aligned">
              <div class="ui header">
                {{this.i18nFrenchSkills}}
                <div class="sub header">
                  Acquis France
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui yellow segment center aligned">
              <div class="ui header">
                {{this.i18nNeutralTotal.validated}} ({{this.i18nNeutralTotal.suggested}})
                <div class="sub header">
                  Neutres
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui yellow segment center aligned">
              <div class="ui header">
                {{this.i18nAfricaTotal.validated}} ({{this.i18nAfricaTotal.suggested}})
                <div class="sub header">
                  Afrique francophone
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui yellow segment center aligned">
              <div class="ui header">
                {{this.i18nUnescoTotal.validated}} ({{this.i18nUnescoTotal.suggested}})
                <div class="sub header">
                  Pays UNESCO
                </div>
              </div>
            </div>
          </div>
          <div class="three columns">
            <div class="ui yellow segment four column grid center aligned">
              <div class="column">
                Compétence
              </div>
              <div class="column">
                Neutres
              </div>
              <div class="column">
                Pays Afrique
              </div>
              <div class="column">
                Pays UNESCO
              </div>
              {{#each this.i18nData as |item|}}
                <div class="column">
                  {{item.name}}
                </div>
                <div class="column">
                  {{item.neutralValidated}} ({{item.neutralSuggested}})
                </div>
                <div class="column">
                  {{item.africaValidated}} ({{item.africaSuggested}})
                </div>
                <div class="column">
                  {{item.unescoValidated}} ({{item.unescoSuggested}})
                </div>
              {{/each}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
