<div class="main-left">
  <div class="main-title">
    <h1 class="ui header">Générateur de profil cible
      <div class="target-profile-mode {{if showTubeDetails "active"}}">Détails des sujets{{ui-checkbox
              checked=showTubeDetails
              class="toggle target-profile-mode"
              onChange=(action (mut showTubeDetails))}}</div>
      <div class="target-profile-mode {{if filter "active"}}">Filtrer les sujets sélectionnés{{ui-checkbox
              checked=filter
              class="toggle target-profile-mode"
              onChange=(action (mut filter))}}</div>
    </h1>
  </div>
  <div class="ui top attached borderless labelled icon menu">
    <a class="first left item" onclick={{action "load"}}>
      <i class="folder open icon"></i> Ouvrir
    </a>
    <a class="left item" onclick={{action "save"}}>
      <i class="save icon"></i> Enregistrer
    </a>
    <div class="right menu">
      <a class="item" onclick={{action "generate"}}>
        <i class="download icon"></i> Identifiants
      </a>
      <a class="item" onclick={{action "getProfileId"}}>
        <i class="code icon"></i> CSV
      </a>
    </div>
  </div>
  <h2 class="ui top attached padded grid target-profile-title">
    <div class="row">
      <div class="right aligned column">
        {{#basic-dropdown  horizontalPosition="left" as |dd|}}
          {{#dd.trigger }}<i class="bars icon"></i>{{/dd.trigger}}
          {{#dd.content class="dropdown-multi profile-menu slide-fade"}}
            {{#each model as |area|}}

                {{#basic-dropdown class="sub-menu" calculatePosition=calculatePosition as |dd|}}
                {{#dd.trigger       onMouseDown=(action "prevent")
                                    onMouseEnter=(action "open")
                                    onMouseLeave=(action "close")
                                    class="sub-trigger"}}
                  {{area.name}} <i class="icon dropdown"></i>
                {{/dd.trigger}}
                {{#dd.content onMouseEnter=(action "open")
                              onMouseLeave=(action "close")
                              class="dropdown-multi slide-fade"}}

                  {{#each area.sortedCompetences as |competence|}}
                    <div class="item area-profile-{{area.code}}" {{action "scrollTo"
                                                                          (concat "competence-profile-anchor-" competence.id)}}>
                      <b>{{competence.code}}</b> {{competence.title}}</div>
                  {{/each}}

                {{/dd.content}}
              {{/basic-dropdown}}

            {{/each}}
          {{/dd.content}}
        {{/basic-dropdown}}


      </div>
      <div class="five wide column">Référentiel Pix</div>
      <div class="six wide center aligned column"></div>
      <div class="four wide right aligned column">{{selectedTubeCount}}/{{tubeCount}}</div>
    </div>
  </h2>
  <div class="ui attached target-profile">

    {{#each model as |area|}}
      {{target-profile/area-profile area=area displayTube=(action "displayTube")
                                    level=selectedTubeLevel
                                    selectedSkills=selectedTubeSkills showTubeDetails=showTubeDetails
                                    clearTube=(action "unsetProfileTube")
                                    setTubeLevel=(action "setProfileTube")
                                    filter=filter}}
    {{/each}}
    {{input type="file" id="target-profile__open-file" change=(action "openFile")}}
  </div>
</div>
{{popin-tube-level setTubeLevel=(action "setProfileTube") clearTube=(action "unsetProfileTube") level=selectedTubeLevel
                   selectedSkills=selectedTubeSkills tube=selectedTube display=displayTubeLevel}}
{{popin-single-entry class="popin-enter-profile-id" title="Identifiant du profil cible" label="Identifiant"
                     setValue=(action "generateSQL") display=displaySingleEntry}}
