<div class="main-left">
<div class="main-title">
  <h1 class="ui header">Générateur de profil cible <div class="target-profile-mode {{if extended "active"}}">Vue étendue{{ui-checkbox checked=extended class="toggle target-profile-mode" onChange=(action (mut extended))}}</div></h1>
</div>
<div class="ui top attached borderless labelled icon menu">
  <a class="first left item" onclick={{action "load"}}>
    <i class="folder open icon"></i> Ouvrir
  </a>
  <a class="left item" onclick={{action "save"}}>
    <i class="save icon"></i> Enregistrer
  </a>
  <div class="right menu">
    <a class="item" onclick={{action "generate"}}>
      <i class="download icon"></i> Identifiants
    </a>
    <a class="item" onclick={{action "getProfileId"}}>
      <i class="code icon"></i> SQL
    </a>
  </div>
</div>
<div class="ui attached target-profile {{if extended "extended"}}">
  {{#each model as |area|}}
  <div>
    <div class="ui horizontal divider">
  {{area.name}}
    </div>
  {{#each area.sortedCompetences as |competence|}}
  <div class="ui vertical segment target-profile-segment">
    <h4>
      {{competence.name}}
    </h4>
    <div class="target-profile-competence">
      {{#each competence.sortedTubes as |tube|}}
      <div class="target-profile-tube" onclick={{action "displayTube" tube}} title={{tube.name}} onmouseover={{action "showTubeName" tube.name competence}} onmouseout={{action "hideTubeName" competence}}>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="32" xmlns:xlink="http://www.w3.org/1999/xlink"
        class={{if tube.selectedLevel "selected-level"}}>
          <polygon class="hex" points="14.05,1 27.1,8.5 27.1,23.5 14.05,31 1,23.5 1,8.5 14.05,1" style="pointer-events: visible"></polygon>
          {{#if tube.selectedLevel}}
            <text x="10" y="21" style="fill:black">{{tube.selectedLevel}}</text>
          {{/if}}
        </svg>
        <div class="tube-name">
          {{tube.name}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="tube-name">
      {{if competence._tubeName competence._tubeName}}
    </div>
  </div>
  {{/each}}

  </div>
  {{/each}}
  {{input type="file" id="target-profile__open-file" change=(action "openFile")}}
</div>
</div>
{{popin-tube-level setTubeLevel=(action "setProfileTube") clearTube=(action "unsetProfileTube") level=selectedTubeLevel selectedSkills=selectedTubeSkills tube=selectedTube class="popin-tube-level"}}
{{popin-single-entry class="popin-enter-profile-id" title="Identifiant du profil cible" label="Identifiant" setValue=(action "generateSQL")}}
