<div class="main-left">
  <div class="main-title">
    <h1 class="ui header">Générateur de profil cible
      <div class="target-profile-filter {{if this.showTubeDetails "active"}}">
        Détails des sujets
        <div class="ui toggle checkbox ">
          <Input @type="checkbox" @checked={{this.showTubeDetails}} class="toggle" />
          <label class="checkbox-label"></label>
        </div>
      </div>
      <div class="target-profile-filter {{if this.filter "active"}}">
        Filtrer les sujets sélectionnés
        <div class="ui toggle checkbox ">
          <Input @type="checkbox" @checked={{this.filter}} class="toggle" />
          <label class="checkbox-label"></label>
        </div>
      </div>
    </h1>
  </div>
  <div class="ui top attached borderless labelled icon menu">
    <button class="ui button first left item" {{on "click" this.load}} type="button">
      <i class="folder open icon"></i> Ouvrir
    </button>
    <button class="ui button left item" {{on "click" this.save}} type="button">
      <i class="save icon"></i> Enregistrer
    </button>
    <div class="right menu">
      <button class="ui button item" {{on "click" this.generate}} type="button">
        <i class="download icon"></i> Identifiants
      </button>
      <button class="ui button item" {{on "click" this.getProfileId}} type="button">
        <i class="code icon"></i> CSV
      </button>
    </div>
  </div>
  <h2 class="ui top attached padded grid target-profile-title">
    <div class="row">
      <div class="right aligned column">
        <BasicDropdown @horizontalPosition="left" as |dd|>
          <dd.Trigger @class="trigger-menu"><i class="bars icon"></i></dd.Trigger>
          <dd.Content @class="dropdown-multi profile-menu slide-fade">
            {{#each this.model as |area|}}

                <BasicDropdown @class="sub-menu" @calculatePosition={{this.calculatePosition}} as |dd|>
                <dd.Trigger @onMouseDown={{this.prevent}} @onMouseEnter={{this.open}} @onMouseLeave={{this.close}} @class="sub-trigger">
                  {{area.name}} <i class="icon dropdown"></i>
                </dd.Trigger>
                <dd.Content @onMouseEnter={{this.open}} @onMouseLeave={{this.close}} @class="dropdown-multi slide-fade">

                  {{#each area.sortedCompetences as |competence|}}
                    <div class="item area-profile-{{area.code}}" {{on "click" (fn this.scrollTo
                                                                          (concat "competence-profile-anchor-" competence.id))}}>
                      <b>{{competence.code}}</b> {{competence.title}}</div>
                  {{/each}}

                </dd.Content>
              </BasicDropdown>
            {{/each}}
          </dd.Content>
        </BasicDropdown>
      </div>
      <div class="five wide column">Référentiel Pix</div>
      <div class="six wide center aligned column"></div>
      <div class="four wide right aligned column">{{this.selectedTubeCount}}/{{this.tubeCount}}</div>
    </div>
  </h2>
  <div class="ui attached target-profile">

    {{#each this.model as |area|}}
      <TargetProfile::AreaProfile @area={{area}} @displayTube={{this.displayTube}} @level={{this.selectedTubeLevel}} @selectedSkills={{this.selectedTubeSkills}} @showTubeDetails={{this.showTubeDetails}} @clearTube={{this.unsetProfileTube}} @setTubeLevel={{this.setProfileTube}} @filter={{this.filter}} />
    {{/each}}
    <Input @type="file" @id="target-profile__open-file" @change={{this.openFile}} />
  </div>
</div>
<PopIn::TubeLevel @setTubeLevel={{this.setProfileTube}} @clearTube={{this.unsetProfileTube}} @level={{this.selectedTubeLevel}} @selectedSkills={{this.selectedTubeSkills}} @tube={{this.selectedTube}} @display={{this.displayTubeLevel}} @close={{this.closeTubeLevel}}/>
<PopIn::SingleEntry @class="popin-enter-profile-id" @title="Identifiant du profil cible" @label="Identifiant" @setValue={{this.generateSQL}} @display={{this.displaySingleEntry}} @close={{this.closeSingleEntry}} />
