<div class="main-left">
    <div class="main-title">
        <h1 class="ui header">Générateur de profil cible
            <div class="target-profile-mode {{if extended "active"}}">Vue étendue{{ui-checkbox checked=extended
                                                                                               class="toggle target-profile-mode"
                                                                                               onChange=(action (mut extended))}}</div>
        </h1>
    </div>
    <div class="ui top attached borderless labelled icon menu">
        <a class="first left item" onclick={{action "load"}}>
            <i class="folder open icon"></i> Ouvrir
        </a>
        <a class="left item" onclick={{action "save"}}>
            <i class="save icon"></i> Enregistrer
        </a>
        <div class="right menu">
            <a class="item" onclick={{action "generate"}}>
                <i class="download icon"></i> Identifiants
            </a>
            <a class="item" onclick={{action "getProfileId"}}>
                <i class="code icon"></i> SQL
            </a>
        </div>
    </div>
    <div class="ui attached target-profile {{if extended "extended"}}">
      {{#each model as |area|}}
          <div>
              <div class="ui horizontal divider">
                {{area.name}}
              </div>
            {{#each area.sortedCompetences as |competence|}}
              {{target-profile/competence-profile competence=competence}}
            {{/each}}

          </div>
      {{/each}}
      {{input type="file" id="target-profile__open-file" change=(action "openFile")}}
    </div>
</div>
{{popin-tube-level setTubeLevel=(action "setProfileTube") clearTube=(action "unsetProfileTube") level=selectedTubeLevel
                   selectedSkills=selectedTubeSkills tube=selectedTube class="popin-tube-level"}}
{{popin-single-entry class="popin-enter-profile-id" title="Identifiant du profil cible" label="Identifiant"
                     setValue=(action "generateSQL")}}
