<div class="main-left">
  <div class="main-title">
    <h1 class="ui header">Générateur de profil cible
      <div class="target-profile-mode {{if showTubeDetails "active"}}">Détails des sujets{{ui-checkbox
              checked=showTubeDetails
              class="toggle target-profile-mode"
              onChange=(action (mut showTubeDetails))}}</div>
      <div class="target-profile-mode {{if filter "active"}}">Filtrer les sujets séléctionnés{{ui-checkbox
              checked=filter
              class="toggle target-profile-mode"
              onChange=(action (mut filter))}}</div>
    </h1>
  </div>
  <div class="ui top attached borderless labelled icon menu">
    <a class="first left item" onclick={{action "load"}}>
      <i class="folder open icon"></i> Ouvrir
    </a>
    <a class="left item" onclick={{action "save"}}>
      <i class="save icon"></i> Enregistrer
    </a>
    <div class="right menu">
      <a class="item" onclick={{action "generate"}}>
        <i class="download icon"></i> Identifiants
      </a>
      <a class="item" onclick={{action "getProfileId"}}>
        <i class="code icon"></i> CSV
      </a>
    </div>
  </div>
  <h2 class="target-profile-title">
    <span>Référentiel Pix</span>
    <span>{{globalSelectTubeCount.selectedProductionTubeCount}}
      / {{globalSelectTubeCount.productionTubeCount}}</span>
    {{#ui-dropdown class="icon item"}}
      <i class="bars icon"></i>
      <div class="menu">
        {{#each model as |area|}}
          <div data-value={{area.code}} class="item">
            <i class="dropdown icon"></i>
            <span class="text">{{area.name}}</span>
            <div class="menu">
              {{#each area.competences as |competence|}}
                <div class="item"{{action "scrollTo"
                                          (concat "competence-profile-anchor-" competence.id)}}>{{competence.code}} {{competence.title}}</div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </h2>
  <div class="ui attached target-profile">

    {{#each model as |area|}}
      {{target-profile/area-profile area=area displayTube=(action "displayTube")
                                    level=selectedTubeLevel
                                    selectedSkills=selectedTubeSkills showTubeDetails=showTubeDetails
                                    clearTube=(action "unsetProfileTube")
                                    setTubeLevel=(action "setProfileTube")
                                    filter=filter}}
    {{/each}}
    {{input type="file" id="target-profile__open-file" change=(action "openFile")}}
  </div>
</div>
{{popin-tube-level setTubeLevel=(action "setProfileTube") clearTube=(action "unsetProfileTube") level=selectedTubeLevel
                   selectedSkills=selectedTubeSkills tube=selectedTube class="popin-tube-level"}}
{{popin-single-entry class="popin-enter-profile-id" title="Identifiant du profil cible" label="Identifiant"
                     setValue=(action "generateSQL")}}
